openapi: 3.1.0
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
info:
  title: Medal Social API
  version: 1.1.7
  description: Public API contract for the Medal Social TypeScript SDK.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://io.medalsocial.com
    description: Medal Social production API
security:
  - bearerAuth: []
tags:
  - name: Posts
    description: Create, schedule, publish, and inspect posts.
  - name: Emails
    description: Send transactional email and inspect templates.
  - name: Contacts
    description: Manage workspace CRM contacts.
  - name: Deals
    description: Manage sponsorship and brand deals.
  - name: Bookings
    description: >-
      Appointment bookings — the service catalogue, free slots, staff actions
      on a booking, and the customer-facing manage-token routes. Money is
      always integer øre.
  - name: GDPR
    description: Manage exports, consent records, and cookie consent.
  - name: Workspaces
    description: Inspect workspaces accessible to the current credential.
  - name: Helpdesk
    description: Read helpdesk conversations, reply, and manage assignment/status.
  - name: Webhooks
    description: Manage webhook endpoints and inspect their deliveries.
  - name: Capabilities
    description: >-
      Mint short-lived capability confirmation tokens for confirmable write
      routes.
  - name: Channels
    description: >-
      Partner channel connect — mint hosted connect links and manage the
      resulting channel connections.
  - name: Scan
    description: >-
      Company & website scans (Nettsjekk) — queue a scan by URL, organisation
      number, or company name, poll the result, and search the Norwegian
      company registry.
paths:
  /api/v1/posts:
    get:
      tags: [Posts]
      operationId: listPosts
      summary: List posts
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: status
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            $ref: "#/components/schemas/PostType"
      responses:
        "200":
          description: Posts page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_Post"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Posts]
      operationId: createPost
      summary: Create a post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePostInput"
      responses:
        "200":
          description: Created post reference.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PostCreateResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/posts/channels:
    get:
      tags: [Posts]
      operationId: listPostChannels
      summary: List connected post channels
      responses:
        "200":
          description: Connected channels.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ChannelArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/posts/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Posts]
      operationId: getPost
      summary: Get post detail
      responses:
        "200":
          description: Post detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PostDetail"
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Posts]
      operationId: updatePost
      summary: Update a draft post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePostInput"
      responses:
        "200":
          description: Update result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Success"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Posts]
      operationId: deletePost
      summary: Delete a post
      responses:
        "200":
          description: Delete result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Success"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/posts/{id}/schedule:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags: [Posts]
      operationId: schedulePost
      summary: Schedule a post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SchedulePostInput"
      responses:
        "200":
          description: Schedule result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ScheduleResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/posts/{id}/publish:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags: [Posts]
      operationId: publishPost
      summary: Publish a post
      responses:
        "200":
          description: Publish result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PublishResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/emails:
    post:
      tags: [Emails]
      operationId: sendEmail
      summary: Send a transactional email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendEmailInput"
      responses:
        "202":
          description: Email queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_EmailSendResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/emails/batch:
    post:
      tags: [Emails]
      operationId: batchSendEmails
      summary: Send a batch of transactional emails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchSendInput"
      responses:
        "202":
          description: Batch queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BatchSendSummary"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/emails/templates:
    get:
      tags: [Emails]
      operationId: listEmailTemplates
      summary: List active email templates
      responses:
        "200":
          description: Active templates.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_EmailTemplateArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/emails/templates/{slug}:
    parameters:
      - $ref: "#/components/parameters/Slug"
    get:
      tags: [Emails]
      operationId: getEmailTemplate
      summary: Get an email template
      parameters:
        - name: locale
          in: query
          schema:
            type: string
        - name: fallback_locale
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Email template detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_EmailTemplateDetail"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/emails/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Emails]
      operationId: getEmailSend
      summary: Get sent email status
      responses:
        "200":
          description: Sent email status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_EmailSend"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/contacts:
    get:
      tags: [Contacts]
      operationId: listContacts
      summary: List contacts
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/ContactStatus"
        - name: email_status
          in: query
          schema:
            $ref: "#/components/schemas/EmailStatus"
        - name: label_ids
          in: query
          schema:
            type: string
          description: Comma-separated label IDs.
        - name: search
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Contacts page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_Contact"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Contacts]
      operationId: createContact
      summary: Create a contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContactInput"
      responses:
        "200":
          description: Created contact reference.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ContactCreateResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/contacts/import:
    post:
      tags: [Contacts]
      operationId: importContacts
      summary: Import contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contacts]
              properties:
                contacts:
                  type: array
                  maxItems: 500
                  items:
                    $ref: "#/components/schemas/ImportContactInput"
      responses:
        "200":
          description: Import summary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ImportContactsResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/contacts/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Contacts]
      operationId: getContact
      summary: Get a contact
      responses:
        "200":
          description: Contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Contact"
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Contacts]
      operationId: updateContact
      summary: Update a contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateContactInput"
      responses:
        "200":
          description: Update result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ContactUpdateResult"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Contacts]
      operationId: deleteContact
      summary: Delete a contact
      responses:
        "200":
          description: Delete result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ContactRemoveResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/contacts/{id}/activities:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Contacts]
      operationId: listContactActivities
      summary: List contact activities
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Contact activities page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_Activity"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/contacts/{id}/notes:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags: [Contacts]
      operationId: addContactNote
      summary: Add a contact note
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddNoteInput"
      responses:
        "200":
          description: Created note reference.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ContactNoteResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/deals:
    get:
      tags: [Deals]
      operationId: listDeals
      summary: List deals
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/DealStatus"
        - name: search
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Deals page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_Deal"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Deals]
      operationId: createDeal
      summary: Create a deal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDealInput"
      responses:
        "200":
          description: Created deal reference.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_DealCreateResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/deals/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Deals]
      operationId: getDeal
      summary: Get a deal
      responses:
        "200":
          description: Deal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Deal"
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Deals]
      operationId: updateDeal
      summary: Update a deal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDealInput"
      responses:
        "200":
          description: Update result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_DealUpdateResult"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Deals]
      operationId: deleteDeal
      summary: Delete a deal
      responses:
        "200":
          description: Delete result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_DealRemoveResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings:
    get:
      tags: [Bookings]
      operationId: listBookings
      summary: List bookings
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: from_ts
          in: query
          description: Only bookings starting at or after this instant.
          schema:
            $ref: "#/components/schemas/BookingTimestampInput"
        - name: to_ts
          in: query
          description: Only bookings starting before this instant.
          schema:
            $ref: "#/components/schemas/BookingTimestampInput"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/BookingStatus"
        - name: resource_id
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Bookings page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_Booking"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Bookings]
      operationId: createBooking
      summary: Create a booking or party
      description: >-
        Books every item or none of them. Each created booking carries a
        `manage_token` returned exactly once — only its hash is stored, and an
        idempotent replay omits it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBookingInput"
      responses:
        "201":
          description: Created bookings, in request order.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingCreateResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/services:
    get:
      tags: [Bookings]
      operationId: listBookingServices
      summary: List bookable services
      parameters:
        - name: include_inactive
          in: query
          description: >-
            Include services with `active: false`. Defaults to active-only.
          schema:
            type: boolean
      responses:
        "200":
          description: Bookable service catalogue.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingServiceArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/resources:
    get:
      tags: [Bookings]
      operationId: listBookingResources
      summary: List bookable resources
      responses:
        "200":
          description: Bookable resources — staff, rooms, and equipment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingResourceArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/availability:
    get:
      tags: [Bookings]
      operationId: listBookingAvailability
      summary: List free slots for a service
      description: >-
        Slots reflect opening hours, time off, buffers, and existing bookings
        at the moment of the call. They are not held.
      parameters:
        - name: service_id
          in: query
          required: true
          schema:
            type: string
        - name: from_ts
          in: query
          required: true
          description: Start of the window.
          schema:
            $ref: "#/components/schemas/BookingTimestampInput"
        - name: to_ts
          in: query
          required: true
          description: End of the window; must be after `from_ts`.
          schema:
            $ref: "#/components/schemas/BookingTimestampInput"
        - name: resource_id
          in: query
          description: Restrict slots to one resource.
          schema:
            type: string
      responses:
        "200":
          description: Free slots.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingSlotArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Bookings]
      operationId: getBooking
      summary: Get a booking
      responses:
        "200":
          description: Booking.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Booking"
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Bookings]
      operationId: updateBooking
      summary: Annotate a booking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBookingInput"
      responses:
        "200":
          description: The updated booking.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Booking"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/{id}/cancel:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags: [Bookings]
      operationId: cancelBooking
      summary: Cancel a booking as the business
      description: >-
        Staff semantics — the workspace's cancel window is bypassed and the
        cancellation is attributed to staff.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelBookingInput"
      responses:
        "200":
          description: Cancel result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingActionResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/{id}/reschedule:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags: [Bookings]
      operationId: rescheduleBooking
      summary: Reschedule a booking as the business
      description: >-
        Staff semantics — the reschedule window is bypassed. The old booking is
        cancelled and a new one inserted, so the response carries a new booking
        id and a freshly minted manage token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RescheduleBookingInput"
      responses:
        "200":
          description: Reschedule result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingRescheduleResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/{id}/no-show:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags: [Bookings]
      operationId: markBookingNoShow
      summary: Mark a booking as a no-show
      responses:
        "200":
          description: No-show result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingActionResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/manage/{token}:
    parameters:
      - $ref: "#/components/parameters/ManageToken"
    get:
      tags: [Bookings]
      operationId: getManagedBooking
      summary: Get the customer manage summary for a token
      responses:
        "200":
          description: >-
            Manage summary. An unknown token and a token belonging to another
            workspace both answer 404, so this is not an existence oracle.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ManageSummary"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/manage/{token}/cancel:
    parameters:
      - $ref: "#/components/parameters/ManageToken"
    post:
      tags: [Bookings]
      operationId: cancelManagedBooking
      summary: Cancel on the customer's behalf
      description: >-
        Customer semantics — the workspace's cancel window is ENFORCED and the
        cancellation is attributed to the customer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelBookingInput"
      responses:
        "200":
          description: Cancel result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingActionResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/manage/{token}/reschedule:
    parameters:
      - $ref: "#/components/parameters/ManageToken"
    post:
      tags: [Bookings]
      operationId: rescheduleManagedBooking
      summary: Reschedule on the customer's behalf
      description: >-
        Customer semantics — the reschedule window is ENFORCED. The response
        carries a new booking id and a new manage token; the old token stops
        working.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RescheduleBookingInput"
      responses:
        "200":
          description: Reschedule result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingRescheduleResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/gdpr/export:
    post:
      tags: [GDPR]
      operationId: requestGdprExport
      summary: Request a GDPR export
      responses:
        "200":
          description: Export request reference.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_GdprExportRequest"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/gdpr/exports:
    get:
      tags: [GDPR]
      operationId: listGdprExports
      summary: List GDPR exports
      responses:
        "200":
          description: Export requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_GdprExportArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/gdpr/exports/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [GDPR]
      operationId: getGdprExport
      summary: Get a GDPR export
      responses:
        "200":
          description: Export request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_GdprExport"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/gdpr/consent:
    post:
      tags: [GDPR]
      operationId: recordGdprConsent
      summary: Record GDPR consent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecordConsentInput"
      responses:
        "200":
          description: Consent reference.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ConsentResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/gdpr/consent/{email}:
    parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
          format: email
    get:
      tags: [GDPR]
      operationId: getGdprConsent
      summary: Get GDPR consent records
      responses:
        "200":
          description: Consent records.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ConsentRecordArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/cookie-consent:
    post:
      tags: [GDPR]
      operationId: recordCookieConsent
      summary: Record cookie consent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CookieConsentInput"
      responses:
        "200":
          description: Cookie consent result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CookieConsentResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/me/workspaces:
    get:
      tags: [Workspaces]
      operationId: listWorkspaces
      summary: List accessible workspaces
      responses:
        "200":
          description: Workspaces.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WorkspaceArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/helpdesk/conversations:
    get:
      tags: [Helpdesk]
      operationId: listHelpdeskConversations
      summary: List helpdesk conversations
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - $ref: "#/components/parameters/Cursor"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/HelpdeskConversationStatus"
        - name: assignee_user_id
          in: query
          schema:
            type: string
          description: Only conversations assigned to this user.
        - name: requester
          in: query
          schema:
            type: string
          description: Match against visitor name/email.
        - name: query
          in: query
          schema:
            type: string
          description: Free-text search query.
        - name: channels
          in: query
          schema:
            type: string
          description: Comma-separated channel types (e.g. `widget,whatsapp`).
      responses:
        "200":
          description: Conversations page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_HelpdeskConversation"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/helpdesk/conversations/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Helpdesk]
      operationId: getHelpdeskConversation
      summary: Get a helpdesk conversation
      responses:
        "200":
          description: Conversation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_HelpdeskConversation"
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Helpdesk]
      operationId: updateHelpdeskConversation
      summary: Update a conversation's status or assignee
      description: >-
        Set `status` and/or `assignee_user_id` (`null` unassigns). At least one
        field is required. Capability-scoped tokens must send `Idempotency-Key`
        and `X-Capability-Confirmation` headers on this route; API keys with
        legacy scopes may omit them.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateHelpdeskConversationInput"
      responses:
        "200":
          description: Update result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_HelpdeskConversationUpdateResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/helpdesk/conversations/{id}/messages:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Helpdesk]
      operationId: listHelpdeskConversationMessages
      summary: List conversation messages
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Messages page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_HelpdeskMessage"
        "404":
          description: Conversation not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/helpdesk/replies:
    post:
      tags: [Helpdesk]
      operationId: createHelpdeskReply
      summary: Send an operator reply or internal note
      description: >-
        Send an `Idempotency-Key` header so retried requests do not create
        duplicate messages — it is required for capability-scoped tokens
        (together with `X-Capability-Confirmation`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateHelpdeskReplyInput"
      responses:
        "201":
          description: Created reply reference.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_HelpdeskReplyCreateResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/webhooks:
    get:
      tags: [Webhooks]
      operationId: listWebhooks
      summary: List webhook endpoints
      responses:
        "200":
          description: Webhook endpoints.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WebhookEndpointArray"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Webhooks]
      operationId: createWebhook
      summary: Create a webhook endpoint
      description: >-
        The response's `data.secret` contains the signing secret EXACTLY ONCE —
        it can never be retrieved again, so store it securely immediately. An
        idempotent replay (same `Idempotency-Key`) returns the existing
        endpoint WITHOUT `secret`. Deliveries are HTTP POSTs signed with
        `X-Medal-Signature: sha256=<base64(HMAC-SHA256("{timestamp}.{rawBody}",
        secret))>` plus `X-Medal-Timestamp`, `X-Medal-Event`, and
        `X-Medal-Delivery-Id` / `Idempotency-Key` headers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookInput"
      responses:
        "201":
          description: Created endpoint, including the one-time `secret`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WebhookEndpoint"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/webhooks/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Webhooks]
      operationId: getWebhook
      summary: Get a webhook endpoint
      responses:
        "200":
          description: Webhook endpoint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WebhookEndpoint"
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Webhooks]
      operationId: updateWebhook
      summary: Update a webhook endpoint
      description: >-
        Only provided fields change. Pass `null` for `channels` or
        `channel_connection_ids` to clear that filter.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookInput"
      responses:
        "200":
          description: Updated endpoint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WebhookEndpoint"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Webhooks]
      operationId: deleteWebhook
      summary: Delete a webhook endpoint
      description: >-
        Permanently deletes the endpoint and stops all outbound deliveries.
        Capability-scoped tokens must send `Idempotency-Key` and
        `X-Capability-Confirmation` headers on this route; API keys with legacy
        scopes may omit them.
      responses:
        "200":
          description: Delete result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WebhookDeleteResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/webhooks/{id}/deliveries:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Webhooks]
      operationId: listWebhookDeliveries
      summary: List recent deliveries
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Recent deliveries, most recent first.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WebhookDeliveryArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/webhooks/{id}/test:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags: [Webhooks]
      operationId: testWebhook
      summary: Queue a test delivery
      description: Queues a signed `test.ping` delivery to the endpoint.
      responses:
        "202":
          description: Test delivery queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WebhookTestResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/capability-confirmations:
    post:
      tags: [Capabilities]
      operationId: issueCapabilityConfirmation
      summary: Issue a capability confirmation token
      description: >-
        Mints a short-lived `X-Capability-Confirmation` token for one pending
        write. Confirmable write routes require BOTH `Idempotency-Key` and
        `X-Capability-Confirmation` when the credential holds the capability
        scope directly; API keys with legacy scopes are exempt. The token is
        bound to the workspace, auth subject, method, path, required scopes and
        idempotency key, and expires within 15 minutes. `user_approved: true`
        asserts that a human on the caller's side approved this exact action.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssueCapabilityConfirmationInput"
      responses:
        "200":
          description: Minted confirmation token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_CapabilityConfirmation"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/channels/connect-links:
    post:
      tags: [Channels]
      operationId: createChannelConnectLink
      summary: Mint a hosted connect link
      description: >-
        Mints a single-use hosted connect link that lets an external person
        (no Medal account required) attach a channel account (e.g.
        `telegram_inbox`) to the workspace's helpdesk. The response's
        `data.url` contains the one-time link token EXACTLY ONCE — an
        idempotent replay (same `Idempotency-Key`) returns the link WITHOUT
        `url`. Requires the `channel.connect.manage` scope; OAuth callers
        additionally need the workspace `admin` role.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateConnectLinkInput"
      responses:
        "201":
          description: Minted connect link, including the one-time `url`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ConnectLinkCreateResult"
        default:
          $ref: "#/components/responses/ApiError"
    get:
      tags: [Channels]
      operationId: listChannelConnectLinks
      summary: List connect links
      description: >-
        Link tokens are never returned. Newest first, cursor-paginated. The
        `channel_type` / `status` filters are applied within each page, so a
        page may hold fewer than `limit` items while `pagination.has_more` is
        still true — page off `has_more`, not the item count.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Page size (default 50, capped at 100).
        - $ref: "#/components/parameters/Cursor"
        - name: channel_type
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/ConnectLinkStatus"
      responses:
        "200":
          description: Connect links page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_ConnectLink"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/channels/connect-links/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    delete:
      tags: [Channels]
      operationId: revokeChannelConnectLink
      summary: Revoke a connect link
      description: >-
        Revokes a pending connect link so it can no longer be consumed. OAuth
        callers need the workspace `admin` role.
      responses:
        "200":
          description: Revoke result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ConnectLinkRevokeResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/channels/connections:
    get:
      tags: [Channels]
      operationId: listChannelConnections
      summary: List channel connections
      description: >-
        The workspace's channel connections in a generic, channel-agnostic
        shape. Newest first, cursor-paginated. Rows that are not projectable
        as connections are dropped within the page, so a page may hold fewer
        than `limit` items while `pagination.has_more` is still true — page
        off `has_more`, not the item count.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Page size (default 50, capped at 100).
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Channel connections page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_ChannelConnection"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/channels/connections/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    delete:
      tags: [Channels]
      operationId: disconnectChannelConnection
      summary: Disconnect a channel connection
      description: >-
        Disconnects a connected channel account (best-effort platform logout,
        then local revoke). Emits a `helpdesk.channel_disconnected` webhook
        event with `reason: "api_disconnect"` if the account was previously
        connected. OAuth callers need the workspace `admin` role.
      responses:
        "200":
          description: Disconnect result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ChannelConnectionDisconnectResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/scan:
    post:
      tags: [Scan]
      operationId: createScan
      summary: Queue a company/site scan
      description: >-
        Queues an asynchronous scan. Provide exactly one of `url`, `orgnr`, or
        `name`; poll the returned id via `GET /api/v1/scan/{id}`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScanCreateInput"
      responses:
        "202":
          description: Scan job queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ScanCreateResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/scan/companies:
    get:
      tags: [Scan]
      operationId: searchScanCompanies
      summary: Search the Norwegian company registry
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 2
      responses:
        "200":
          description: Registry matches (top 5, relevance-ranked).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ScanCompanyArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/scan/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Scan]
      operationId: getScan
      summary: Get a scan job
      responses:
        "200":
          description: Scan job status and, once done, the findings payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ScanJob"
        default:
          $ref: "#/components/responses/ApiError"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
    Slug:
      name: slug
      in: path
      required: true
      schema:
        type: string
    ManageToken:
      name: token
      in: path
      required: true
      description: >-
        The show-once manage token handed out when the booking was created.
        Possession of it authorizes the customer's own cancel or reschedule.
      schema:
        type: string
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 500
  responses:
    ApiError:
      description: API error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
  schemas:
    ApiError:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
            details: true
    Pagination:
      type: object
      required: [has_more, next_cursor]
      properties:
        has_more:
          type: boolean
        next_cursor:
          type: [string, "null"]
    Success:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
    PostCreateResult:
      type: object
      required: [id]
      properties:
        id:
          type: string
    Post:
      type: object
      required:
        - id
        - type
        - title
        - content
        - status
        - channel_ids
        - variant_count
        - published_count
        - failed_count
        - scheduled_at
        - published_at
        - created_at
        - updated_at
      properties:
        id:
          type: string
        type:
          $ref: "#/components/schemas/PostType"
        title:
          type: [string, "null"]
        content:
          type: string
        status:
          type: string
        channel_ids:
          type: array
          items:
            type: string
        variant_count:
          type: integer
        published_count:
          type: integer
        failed_count:
          type: integer
        scheduled_at:
          type: [string, "null"]
          format: date-time
        published_at:
          type: [string, "null"]
          format: date-time
        created_at:
          type: [string, "null"]
          format: date-time
        updated_at:
          type: [string, "null"]
          format: date-time
    PostType:
      type: string
      enum: [social, newsletter, blog]
    PostVariant:
      type: object
      required:
        - id
        - channel_id
        - content
        - status
        - platform
        - channel_display_name
        - scheduled_at
        - published_at
        - platform_post_id
        - permalink
        - error
      properties:
        id:
          type: string
        channel_id:
          type: string
        content:
          type: string
        status:
          type: string
        platform:
          type: [string, "null"]
        channel_display_name:
          type: [string, "null"]
        scheduled_at:
          type: [string, "null"]
          format: date-time
        published_at:
          type: [string, "null"]
          format: date-time
        platform_post_id:
          type: [string, "null"]
        permalink:
          type: [string, "null"]
          format: uri
        error:
          type: [string, "null"]
    PostDetail:
      allOf:
        - $ref: "#/components/schemas/Post"
        - type: object
          required: [variants]
          properties:
            variants:
              type: array
              items:
                $ref: "#/components/schemas/PostVariant"
    Channel:
      type: object
      required: [id, platform, display_name, platform_username, state, connected_at]
      properties:
        id:
          type: string
        platform:
          type: [string, "null"]
        display_name:
          type: [string, "null"]
        platform_username:
          type: [string, "null"]
        state:
          type: string
        connected_at:
          type: [string, "null"]
          format: date-time
    CreatePostInput:
      type: object
      required: [content, channel_ids]
      properties:
        type:
          $ref: "#/components/schemas/PostType"
        title:
          type: string
        content:
          type: string
        channel_ids:
          type: array
          items:
            type: string
    UpdatePostInput:
      type: object
      properties:
        title:
          type: string
        content:
          type: string
    SchedulePostInput:
      type: object
      required: [scheduled_at]
      properties:
        scheduled_at:
          oneOf:
            - type: integer
            - type: string
              format: date-time
    ScheduleResult:
      type: object
      required: [success, workflow_id]
      properties:
        success:
          type: boolean
        workflow_id:
          type: string
    PublishResult:
      type: object
      required: [success, workflow_id]
      properties:
        success:
          type: boolean
        workflow_id:
          type: string
    SendEmailInput:
      type: object
      required: [template_slug, to]
      properties:
        template_slug:
          type: string
        to:
          type: string
          format: email
        name:
          type: string
        locale:
          type: string
        fallback_locale:
          type: string
        variables:
          type: object
          additionalProperties:
            type: string
        contact_id:
          type: string
        idempotency_key:
          type: string
        copy_to:
          type: string
          format: email
        copy_reply_to:
          type: string
          format: email
    EmailSendResult:
      type: object
      required: [id, copy_id, contact_id, status]
      properties:
        id:
          type: [string, "null"]
          description: Email send id — poll GET /api/v1/emails/{id} with it.
        copy_id:
          type: [string, "null"]
          description: Send id of the copy_to copy, or null when no copy was requested.
        contact_id:
          type: [string, "null"]
        status:
          type: string
    EmailSend:
      type: object
      required:
        - id
        - status
        - recipient_email
        - recipient_name
        - subject
        - template_id
        - contact_id
        - queued_at
        - sent_at
        - delivered_at
        - opened_at
        - clicked_at
        - error_message
      properties:
        id:
          type: string
        status:
          type: string
        recipient_email:
          type: string
          format: email
        recipient_name:
          type: [string, "null"]
        subject:
          type: [string, "null"]
        template_id:
          type: [string, "null"]
        contact_id:
          type: [string, "null"]
        queued_at:
          type: [string, "null"]
          format: date-time
        sent_at:
          type: [string, "null"]
          format: date-time
        delivered_at:
          type: [string, "null"]
          format: date-time
        opened_at:
          type: [string, "null"]
          format: date-time
        clicked_at:
          type: [string, "null"]
          format: date-time
        error_message:
          type: [string, "null"]
    BatchSendInput:
      type: object
      required: [template_slug, recipients]
      properties:
        template_slug:
          type: string
        default_locale:
          type: string
        recipients:
          type: array
          maxItems: 100
          items:
            type: object
            required: [email]
            properties:
              email:
                type: string
                format: email
              name:
                type: string
              locale:
                type: string
              variables:
                type: object
                additionalProperties:
                  type: string
    BatchSendSummary:
      type: object
      required: [batch_id, total, queued, failed, results]
      properties:
        batch_id:
          type: string
        total:
          type: integer
        queued:
          type: integer
        failed:
          type: integer
        results:
          type: array
          description: Per-recipient outcome, in request order.
          items:
            $ref: "#/components/schemas/BatchSendRecipientResult"
    BatchSendRecipientResult:
      type: object
      required: [email, id, status, error]
      properties:
        email:
          type: string
          format: email
        id:
          type: [string, "null"]
          description: Email send id — poll GET /api/v1/emails/{id} with it. Null when not queued.
        status:
          type: string
          enum: [queued, failed]
        error:
          type: [string, "null"]
          description: Failure reason for recipients that were not queued.
    EmailTemplate:
      type: object
      required:
        - id
        - name
        - slug
        - type
        - subject
        - default_locale
        - available_locales
        - description
        - category
        - label_ids
        - is_active
        - is_archived
        - version
        - created_at
        - updated_at
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        type:
          type: [string, "null"]
        subject:
          type: [string, "null"]
        default_locale:
          type: string
        available_locales:
          type: array
          items:
            type: string
        description:
          type: [string, "null"]
        category:
          type: [string, "null"]
        label_ids:
          type: array
          items:
            type: string
        is_active:
          type: boolean
        is_archived:
          type: boolean
        version:
          type: integer
        created_at:
          type: [string, "null"]
          format: date-time
        updated_at:
          type: [string, "null"]
          format: date-time
    EmailTemplateDetail:
      allOf:
        - $ref: "#/components/schemas/EmailTemplate"
        - type: object
          required:
            - html_content
            - text_content
            - preview_text
            - from_name
            - from_email
            - reply_to
            - requested_locale
            - resolved_locale
            - content_source
            - localizations
          properties:
            html_content:
              type: [string, "null"]
            text_content:
              type: [string, "null"]
            preview_text:
              type: [string, "null"]
            from_name:
              type: [string, "null"]
            from_email:
              type: [string, "null"]
              format: email
            reply_to:
              type: [string, "null"]
              format: email
            requested_locale:
              type: [string, "null"]
            resolved_locale:
              type: string
            content_source:
              type: string
            localizations:
              type: array
              items:
                type: object
                required: [locale, subject, html_content, text_content, preview_text]
                properties:
                  locale:
                    type: [string, "null"]
                  subject:
                    type: [string, "null"]
                  html_content:
                    type: [string, "null"]
                  text_content:
                    type: [string, "null"]
                  preview_text:
                    type: [string, "null"]
    Contact:
      type: object
      required:
        - id
        - email
        - first_name
        - last_name
        - phone
        - company
        - job_title
        - address
        - status
        - email_status
        - label_ids
        - source
        - custom_fields
        - created_at
        - updated_at
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        first_name:
          type: [string, "null"]
        last_name:
          type: [string, "null"]
        phone:
          type: [string, "null"]
        company:
          type: [string, "null"]
        job_title:
          type: [string, "null"]
        address:
          anyOf:
            - type: object
              additionalProperties:
                type: string
            - type: "null"
        status:
          $ref: "#/components/schemas/ContactStatus"
        email_status:
          $ref: "#/components/schemas/EmailStatus"
        label_ids:
          type: array
          items:
            type: string
        source:
          type: [string, "null"]
        custom_fields:
          anyOf:
            - type: object
              additionalProperties: true
            - type: "null"
        created_at:
          type: [string, "null"]
          format: date-time
        updated_at:
          type: [string, "null"]
          format: date-time
    ContactCreateResult:
      type: object
      required: [id]
      properties:
        id:
          type: string
    ContactUpdateResult:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
          const: true
    ContactRemoveResult:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
          const: true
    ContactNoteResult:
      type: object
      required: [id]
      properties:
        id:
          type: string
    ContactStatus:
      type: string
      enum: [lead, prospect, customer, churned, archived]
    EmailStatus:
      type: string
      enum: [subscribed, unsubscribed, bounced, complained]
    CreateContactInput:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
        company:
          type: string
        job_title:
          type: string
        address:
          type: object
          additionalProperties:
            type: string
        status:
          $ref: "#/components/schemas/ContactStatus"
        email_status:
          $ref: "#/components/schemas/EmailStatus"
        label_ids:
          type: array
          items:
            type: string
        labels:
          type: array
          items:
            type: string
        custom_fields:
          type: object
          additionalProperties: true
        notes:
          oneOf:
            - type: string
            - $ref: "#/components/schemas/ContactNoteInput"
    UpdateContactInput:
      type: object
      properties:
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
        company:
          type: string
        job_title:
          type: string
        status:
          $ref: "#/components/schemas/ContactStatus"
        email_status:
          $ref: "#/components/schemas/EmailStatus"
        label_ids:
          type: array
          items:
            type: string
        labels:
          type: array
          items:
            type: string
        custom_fields:
          type: object
          additionalProperties: true
    ContactNoteInput:
      type: object
      required: [content]
      properties:
        content:
          type: string
        attachments:
          type: array
          items:
            type: object
            required: [url, name]
            properties:
              url:
                type: string
                format: uri
              name:
                type: string
              type:
                type: string
              size:
                type: number
    ImportContactInput:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
        company:
          type: string
        job_title:
          type: string
        label_ids:
          type: array
          items:
            type: string
        status:
          type: string
    ImportContactsResult:
      type: object
      required: [added, skipped, total]
      properties:
        added:
          type: integer
        skipped:
          type: integer
        total:
          type: integer
    Activity:
      type: object
      required:
        - id
        - type
        - title
        - content
        - actor_name
        - actor_type
        - metadata
        - created_at
      properties:
        id:
          type: string
        type:
          type: string
        title:
          type: [string, "null"]
        content:
          type: [string, "null"]
        actor_name:
          type: [string, "null"]
        actor_type:
          type: [string, "null"]
        metadata: true
        created_at:
          type: [string, "null"]
          format: date-time
    AddNoteInput:
      type: object
      required: [content]
      properties:
        content:
          type: string
    Deal:
      type: object
      required:
        - id
        - title
        - description
        - value
        - currency
        - status
        - brand_name
        - brand_website
        - contact_id
        - contact_name
        - contact_email
        - start_date
        - end_date
        - notes
        - created_at
        - updated_at
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: [string, "null"]
        value:
          type: [number, "null"]
        currency:
          type: [string, "null"]
        status:
          $ref: "#/components/schemas/DealStatus"
        brand_name:
          type: [string, "null"]
        brand_website:
          type: [string, "null"]
          format: uri
        contact_id:
          type: [string, "null"]
        contact_name:
          type: [string, "null"]
        contact_email:
          type: [string, "null"]
          format: email
        start_date:
          type: [string, "null"]
          format: date
        end_date:
          type: [string, "null"]
          format: date
        notes:
          type: [string, "null"]
        created_at:
          type: [string, "null"]
          format: date-time
        updated_at:
          type: [string, "null"]
          format: date-time
    DealCreateResult:
      type: object
      required: [id]
      properties:
        id:
          type: string
    DealUpdateResult:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
          const: true
    DealRemoveResult:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
          const: true
    DealStatus:
      type: string
      enum: [draft, open, won, lost, negotiating, proposal_sent, on_hold, churned]
    CreateDealInput:
      type: object
      required: [title]
      properties:
        title:
          type: string
        description:
          type: string
        value:
          type: number
        currency:
          type: string
        brand_name:
          type: string
        brand_website:
          type: string
          format: uri
        contact_id:
          type: string
        contact_name:
          type: string
        contact_email:
          type: string
          format: email
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        notes:
          type: string
    UpdateDealInput:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        value:
          type: number
        currency:
          type: string
        status:
          $ref: "#/components/schemas/DealStatus"
        brand_name:
          type: string
        brand_website:
          type: string
          format: uri
        contact_id:
          type: [string, "null"]
        contact_name:
          type: string
        contact_email:
          type: string
          format: email
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        notes:
          type: string
    BookingTimestampInput:
      description: >-
        A timestamp on the way in — Unix milliseconds, or an ISO 8601
        date-time string. Responses always render timestamps as ISO 8601.
      type: [integer, string]
    BookingStatus:
      type: string
      enum: [pending, confirmed, completed, cancelled, no_show]
    BookingCancelledBy:
      description: >-
        Who cancelled. `staff` for the id-addressed cancel, `customer` for the
        manage-token cancel, `system` for an automated one.
      type: string
      enum: [customer, staff, system]
    BookingPaymentStatus:
      type: string
      enum: [none, reserved, captured, refunded]
    BookingCreatedVia:
      type: string
      enum: [web, dashboard, walk_in, api]
    BookingResourceType:
      type: string
      enum: [staff, room, equipment]
    Booking:
      type: object
      required:
        - id
        - contact_id
        - service_id
        - resource_id
        - start_ts
        - end_ts
        - booked_for_name
        - booked_for_birth_year
        - party_sequence_id
        - status
        - cancelled_by
        - cancel_reason
        - rescheduled_from_id
        - payment_status
        - amount_ore
        - notes
        - internal_notes
        - created_via
        - created_at
        - updated_at
      properties:
        id:
          type: string
        contact_id:
          type: [string, "null"]
        service_id:
          type: [string, "null"]
        resource_id:
          type: [string, "null"]
        start_ts:
          type: [string, "null"]
          format: date-time
        end_ts:
          type: [string, "null"]
          format: date-time
        booked_for_name:
          type: [string, "null"]
        booked_for_birth_year:
          description: A birth year, not a birthdate — the age bracket is all that is stored.
          type: [integer, "null"]
        party_sequence_id:
          description: Shared by every booking created in the same party request.
          type: [string, "null"]
        status:
          $ref: "#/components/schemas/BookingStatus"
        cancelled_by:
          oneOf:
            - $ref: "#/components/schemas/BookingCancelledBy"
            - type: "null"
        cancel_reason:
          type: [string, "null"]
        rescheduled_from_id:
          description: On a booking created by a reschedule, the booking it replaced.
          type: [string, "null"]
        payment_status:
          $ref: "#/components/schemas/BookingPaymentStatus"
        amount_ore:
          description: Price in integer øre. Never a float and never kroner.
          type: [integer, "null"]
        notes:
          description: Customer-visible note.
          type: [string, "null"]
        internal_notes:
          description: Staff-only note; never shown to the customer.
          type: [string, "null"]
        created_via:
          oneOf:
            - $ref: "#/components/schemas/BookingCreatedVia"
            - type: "null"
        created_at:
          type: [string, "null"]
          format: date-time
        updated_at:
          type: [string, "null"]
          format: date-time
    BookingService:
      type: object
      required:
        - id
        - name
        - description
        - category
        - duration_minutes
        - buffer_before_minutes
        - buffer_after_minutes
        - price_ore
        - weekend_surcharge_pct
        - resource_requirements
        - bookable_online
        - max_per_booking
        - color
        - sort_order
        - active
        - created_at
        - updated_at
      properties:
        id:
          type: string
        name:
          type: [string, "null"]
        description:
          type: [string, "null"]
        category:
          type: [string, "null"]
        duration_minutes:
          type: [integer, "null"]
        buffer_before_minutes:
          type: [integer, "null"]
        buffer_after_minutes:
          type: [integer, "null"]
        price_ore:
          description: Price in integer øre.
          type: [integer, "null"]
        weekend_surcharge_pct:
          type: [number, "null"]
        resource_requirements:
          description: Resource types this service needs, e.g. `["staff"]`.
          type: array
          items:
            type: string
        bookable_online:
          type: boolean
        max_per_booking:
          type: [integer, "null"]
        color:
          type: [string, "null"]
        sort_order:
          type: [integer, "null"]
        active:
          type: boolean
        created_at:
          type: [string, "null"]
          format: date-time
        updated_at:
          type: [string, "null"]
          format: date-time
    BookingResource:
      type: object
      required:
        - id
        - type
        - name
        - photo_url
        - bio
        - service_ids
        - capacity
        - sort_order
        - active
        - created_at
        - updated_at
      properties:
        id:
          type: string
        type:
          oneOf:
            - $ref: "#/components/schemas/BookingResourceType"
            - type: "null"
        name:
          type: [string, "null"]
        photo_url:
          type: [string, "null"]
          format: uri
        bio:
          type: [string, "null"]
        service_ids:
          description: Services this resource can perform.
          type: array
          items:
            type: string
        capacity:
          type: [integer, "null"]
        sort_order:
          type: [integer, "null"]
        active:
          type: boolean
        created_at:
          type: [string, "null"]
          format: date-time
        updated_at:
          type: [string, "null"]
          format: date-time
    BookingSlot:
      type: object
      required: [start_ts, end_ts, resource_id]
      properties:
        start_ts:
          type: [string, "null"]
          format: date-time
        end_ts:
          type: [string, "null"]
          format: date-time
        resource_id:
          type: [string, "null"]
    BookingContactInput:
      description: The person the booking is made under. Phone is the CRM dedupe key.
      type: object
      required: [phone]
      properties:
        phone:
          type: string
          maxLength: 40
        email:
          type: string
          maxLength: 320
        name:
          type: string
          maxLength: 200
    CreateBookingItemInput:
      description: One line of a party — a single service on a single slot.
      type: object
      required: [service_id, start_ts]
      properties:
        service_id:
          type: string
        resource_id:
          description: Omit to let the engine pick a free resource.
          type: string
        start_ts:
          $ref: "#/components/schemas/BookingTimestampInput"
        booked_for_name:
          type: string
          maxLength: 200
        booked_for_birth_year:
          type: integer
          minimum: 1900
          maximum: 2200
    CreateBookingInput:
      type: object
      required: [items, contact]
      properties:
        items:
          description: >-
            A PARTY — one request books a whole family in one all-or-nothing
            transaction.
          type: array
          minItems: 1
          maxItems: 50
          items:
            $ref: "#/components/schemas/CreateBookingItemInput"
        contact:
          $ref: "#/components/schemas/BookingContactInput"
        notes:
          type: string
          maxLength: 5000
    CreatedBooking:
      type: object
      required: [id]
      properties:
        id:
          type: string
        manage_token:
          description: >-
            Show-once secret for the customer's manage link. Only its hash is
            stored, and an idempotent replay omits this field entirely.
          type: string
    BookingCreateResult:
      type: object
      required: [bookings, contact_id]
      properties:
        bookings:
          description: One entry per created booking, in request order.
          type: array
          items:
            $ref: "#/components/schemas/CreatedBooking"
        contact_id:
          type: string
    BookingActionResult:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
          const: true
    BookingRescheduleResult:
      type: object
      required: [success, booking_id]
      properties:
        success:
          type: boolean
          const: true
        booking_id:
          description: >-
            The NEW booking's id — a reschedule cancels the old row and inserts
            a new one.
          type: string
        manage_token:
          description: >-
            Freshly minted manage token for the new booking; omitted on an
            idempotent replay.
          type: string
    ManageSummary:
      description: >-
        What the holder of a manage token may see and do. `can_cancel` and
        `can_reschedule` already apply the workspace's policy windows.
      type: object
      required:
        - booking_id
        - contact_id
        - status
        - cancelled_by
        - cancel_reason
        - rescheduled_from_id
        - start_ts
        - end_ts
        - service_id
        - service_name
        - resource_id
        - resource_name
        - booked_for_name
        - party_sequence_id
        - amount_ore
        - payment_status
        - time_zone
        - cancel_window_hours
        - reschedule_window_hours
        - can_cancel
        - can_reschedule
      properties:
        booking_id:
          type: string
        contact_id:
          type: [string, "null"]
        status:
          oneOf:
            - $ref: "#/components/schemas/BookingStatus"
            - type: "null"
        cancelled_by:
          oneOf:
            - $ref: "#/components/schemas/BookingCancelledBy"
            - type: "null"
        cancel_reason:
          type: [string, "null"]
        rescheduled_from_id:
          type: [string, "null"]
        start_ts:
          type: [string, "null"]
          format: date-time
        end_ts:
          type: [string, "null"]
          format: date-time
        service_id:
          type: [string, "null"]
        service_name:
          type: [string, "null"]
        resource_id:
          type: [string, "null"]
        resource_name:
          type: [string, "null"]
        booked_for_name:
          type: [string, "null"]
        party_sequence_id:
          type: [string, "null"]
        amount_ore:
          description: Price in integer øre.
          type: [integer, "null"]
        payment_status:
          oneOf:
            - $ref: "#/components/schemas/BookingPaymentStatus"
            - type: "null"
        time_zone:
          description: IANA zone the booking's local times should be rendered in.
          type: [string, "null"]
        cancel_window_hours:
          type: [number, "null"]
        reschedule_window_hours:
          type: [number, "null"]
        can_cancel:
          type: boolean
        can_reschedule:
          type: boolean
    UpdateBookingInput:
      description: >-
        At least one of `notes` or `internal_notes` is required — the API
        rejects a body carrying neither with a 400. `""` is a meaningful value
        that clears the field, so the constraint is on presence.
      # Spelled out as two fully-typed branches rather than the terser
      # `anyOf: [{required: [notes]}, {required: [internal_notes]}]`, because a
      # branch carrying only `required` generates as `unknown` — and `T |
      # unknown` collapses to `unknown`, which accepts everything and is worse
      # than the unconstrained object. Each branch therefore repeats the
      # properties so openapi-typescript emits a real discriminating union.
      #
      # `minProperties: 1` is deliberately absent: `anyOf` on two named
      # properties already implies it and is strictly stronger (it also rejects
      # `{ unrelated_key: 1 }`), so keeping both would be two statements of one
      # invariant to drift apart.
      anyOf:
        - type: object
          required: [notes]
          properties:
            notes:
              description: Customer-visible note.
              type: string
              maxLength: 5000
            internal_notes:
              description: Staff-only note.
              type: string
              maxLength: 5000
        - type: object
          required: [internal_notes]
          properties:
            notes:
              description: Customer-visible note.
              type: string
              maxLength: 5000
            internal_notes:
              description: Staff-only note.
              type: string
              maxLength: 5000
    CancelBookingInput:
      type: object
      properties:
        reason:
          type: string
          maxLength: 500
    RescheduleBookingInput:
      type: object
      required: [new_start_ts]
      properties:
        new_start_ts:
          $ref: "#/components/schemas/BookingTimestampInput"
        new_resource_id:
          type: string
    BookingsPagination:
      description: >-
        Pagination for a bookings page. `truncated` is the extra statement:
        the underlying read is capped, and when the cap binds there are
        matching bookings no cursor from this call reaches — narrow the window.
      type: object
      required: [has_more, next_cursor, truncated]
      properties:
        has_more:
          type: boolean
        next_cursor:
          type: [string, "null"]
        truncated:
          type: boolean
    GdprExport:
      type: object
      required: [id, request_type, status, submitted_at, completed_at]
      properties:
        id:
          type: string
        request_type:
          type: string
        status:
          type: string
        submitted_at:
          type: [string, "null"]
          format: date-time
        completed_at:
          type: [string, "null"]
          format: date-time
        due_date:
          type: [string, "null"]
          format: date-time
        download_url:
          type: [string, "null"]
          format: uri
        expires_at:
          type: [string, "null"]
          format: date-time
    GdprExportRequest:
      type: object
      required: [request_id, status]
      properties:
        request_id:
          type: string
        status:
          type: string
    ConsentType:
      type: string
      enum: [marketing_email, analytics_tracking, third_party_sharing]
    RecordConsentInput:
      type: object
      required: [email, consent_type, granted]
      properties:
        email:
          type: string
          format: email
        consent_type:
          $ref: "#/components/schemas/ConsentType"
        granted:
          type: boolean
        source:
          type: string
        ip_address:
          type: string
        consent_text:
          type: string
        version:
          type: string
    ConsentRecord:
      type: object
      required: [id, email, consent_type, granted, granted_at, revoked_at]
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        consent_type:
          $ref: "#/components/schemas/ConsentType"
        granted:
          type: boolean
        granted_at:
          type: [string, "null"]
          format: date-time
        revoked_at:
          type: [string, "null"]
          format: date-time
        source:
          type: string
        version:
          type: string
    ConsentResult:
      type: object
      required: [id]
      properties:
        id:
          type: string
    CookieConsentInput:
      type: object
      required: [domain, consentStatus, consentTimestamp, cookiePreferences]
      properties:
        domain:
          type: string
        consentStatus:
          type: string
        consentTimestamp:
          type: string
          format: date-time
        ipAddress:
          type: string
        userAgent:
          type: string
        cookiePreferences:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/CookieCategoryConsent"
    CookieCategoryConsent:
      type: object
      required: [allowed]
      properties:
        allowed:
          type: boolean
        cookieRecords:
          type: array
          items:
            type: object
            required: [cookie, duration, description]
            properties:
              cookie:
                type: string
              duration:
                type: string
              description:
                type: string
    CookieConsentResult:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
        logId:
          type: string
    Workspace:
      type: object
      required: [id, name, slug]
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
      additionalProperties: true
    HelpdeskConversationStatus:
      type: string
      enum: [open, snoozed, closed]
    HelpdeskMessageAuthorType:
      type: string
      enum: [visitor, operator, ai, system]
    HelpdeskMessageType:
      type: string
      enum: [chat, email, note]
      description: >-
        `note` is operator-internal and never delivered to the customer.
    HelpdeskConversation:
      type: object
      required:
        - id
        - channel
        - channel_connection_id
        - status
        - subject
        - assignee_user_id
        - contact_id
        - visitor_name
        - visitor_email
        - external_conversation_id
        - channel_account_id
        - message_count
        - unread_for_operator
        - last_message_at
        - last_message_preview
        - last_message_author_type
        - created_at
        - updated_at
      properties:
        id:
          type: string
        channel:
          type: string
          description: >-
            Channel type, e.g. `widget`, `instagram`, `messenger`, `whatsapp`,
            `email`.
        channel_connection_id:
          type: [string, "null"]
        status:
          $ref: "#/components/schemas/HelpdeskConversationStatus"
        subject:
          type: [string, "null"]
        assignee_user_id:
          type: [string, "null"]
        contact_id:
          type: [string, "null"]
        visitor_name:
          type: [string, "null"]
        visitor_email:
          type: [string, "null"]
        external_conversation_id:
          type: [string, "null"]
        channel_account_id:
          type: [string, "null"]
        message_count:
          type: integer
        unread_for_operator:
          type: integer
        last_message_at:
          type: integer
          description: Unix timestamp in milliseconds.
        last_message_preview:
          type: [string, "null"]
        last_message_author_type:
          anyOf:
            - $ref: "#/components/schemas/HelpdeskMessageAuthorType"
            - type: "null"
        created_at:
          type: integer
          description: Unix timestamp in milliseconds.
        updated_at:
          type: integer
          description: Unix timestamp in milliseconds.
    HelpdeskMessage:
      type: object
      required:
        - id
        - conversation_id
        - author_type
        - message_type
        - author_user_id
        - author_name
        - body
        - delivery_status
        - delivery_error
        - created_at
      properties:
        id:
          type: string
        conversation_id:
          type: string
        author_type:
          $ref: "#/components/schemas/HelpdeskMessageAuthorType"
        message_type:
          $ref: "#/components/schemas/HelpdeskMessageType"
        author_user_id:
          type: [string, "null"]
        author_name:
          type: [string, "null"]
        body:
          type: string
        delivery_status:
          oneOf:
            - $ref: "#/components/schemas/HelpdeskMessageDeliveryStatus"
            - type: "null"
          description: >-
            Outbound delivery state, or `null` for inbound messages and
            internal notes. A `201` from `POST /api/v1/helpdesk/replies` means
            the reply was accepted, NOT delivered — the channel hand-off is
            asynchronous, so poll this field (or subscribe to
            `helpdesk.message_delivery_updated`) to learn the outcome.
        delivery_error:
          type: [string, "null"]
          description: >-
            Last send error for a `failed` outbound message, otherwise `null`.
        created_at:
          type: integer
          description: Unix timestamp in milliseconds.
    HelpdeskMessageDeliveryStatus:
      type: string
      enum: [pending, sent, delivered, failed]
    UpdateHelpdeskConversationInput:
      type: object
      minProperties: 1
      description: At least one field is required.
      properties:
        status:
          $ref: "#/components/schemas/HelpdeskConversationStatus"
        assignee_user_id:
          type: [string, "null"]
          description: User ID to assign, or `null` to unassign.
    HelpdeskConversationUpdateResult:
      type: object
      required: [id, status, assignee_user_id]
      properties:
        id:
          type: string
        status:
          $ref: "#/components/schemas/HelpdeskConversationStatus"
        assignee_user_id:
          type: [string, "null"]
    CreateHelpdeskReplyInput:
      type: object
      required: [conversation_id, body]
      properties:
        conversation_id:
          type: string
        body:
          type: string
          maxLength: 20000
        message_type:
          type: string
          enum: [chat, note]
          description: >-
            `note` = operator-internal note (not delivered to the customer).
            Default `chat`.
        author_name:
          type: string
          description: >-
            Agent display name for bridged replies (shown in widget + inbox).
    HelpdeskReplyCreateResult:
      type: object
      required: [id, conversation_id, status]
      properties:
        id:
          type: string
        conversation_id:
          type: string
        status:
          type: string
          const: created
    WebhookEndpoint:
      type: object
      required:
        - id
        - name
        - url
        - enabled
        - event_types
        - channels
        - channel_connection_ids
        - secret_last4
        - consecutive_failures
        - last_delivery_at
        - last_success_at
        - last_error_at
        - last_error
        - created_at
        - updated_at
      properties:
        id:
          type: string
        name:
          type: string
        url:
          type: string
          format: uri
          description: Destination URL (must be https).
        enabled:
          type: boolean
        event_types:
          type: array
          items:
            type: string
          description: Subscribed event types. Empty array = all events.
        channels:
          type: [array, "null"]
          items:
            type: string
          description: >-
            Channel-type filter (e.g. `['widget', 'whatsapp']`), or `null` for
            all channels.
        channel_connection_ids:
          type: [array, "null"]
          items:
            type: string
          description: Channel-connection filter, or `null` for all connections.
        secret_last4:
          type: string
          description: Last 4 characters of the signing secret, for identification.
        consecutive_failures:
          type: integer
        last_delivery_at:
          type: [integer, "null"]
          description: Unix timestamp in milliseconds, or `null` if never.
        last_success_at:
          type: [integer, "null"]
          description: Unix timestamp in milliseconds, or `null` if never.
        last_error_at:
          type: [integer, "null"]
          description: Unix timestamp in milliseconds, or `null` if never.
        last_error:
          type: [string, "null"]
        created_at:
          type: integer
          description: Unix timestamp in milliseconds.
        updated_at:
          type: integer
          description: Unix timestamp in milliseconds.
        secret:
          type: string
          description: >-
            Full signing secret (`whsec_…`) — present ONLY in the create
            response, exactly once. It can never be retrieved again; store it
            securely immediately. An idempotent replay of the create request
            omits it.
    CreateWebhookInput:
      type: object
      required: [name, url, event_types]
      properties:
        name:
          type: string
          maxLength: 100
        url:
          type: string
          format: uri
          description: Destination URL — must be https.
        event_types:
          type: array
          items:
            type: string
          description: >-
            Event types to subscribe to (e.g. `helpdesk.message_received`).
            Empty = all.
        channels:
          type: array
          items:
            type: string
          description: Restrict to these channel types (e.g. `['widget', 'whatsapp']`).
        channel_connection_ids:
          type: array
          items:
            type: string
          description: Restrict to these channel connection IDs.
    UpdateWebhookInput:
      type: object
      description: Only provided fields change.
      properties:
        name:
          type: string
          maxLength: 100
        url:
          type: string
          format: uri
        event_types:
          type: array
          items:
            type: string
        channels:
          type: [array, "null"]
          items:
            type: string
          description: New channel-type filter, or `null` to clear the filter.
        channel_connection_ids:
          type: [array, "null"]
          items:
            type: string
          description: New channel-connection filter, or `null` to clear the filter.
        enabled:
          type: boolean
    WebhookDeleteResult:
      type: object
      required: [id, status]
      properties:
        id:
          type: string
        status:
          type: string
          const: deleted
    WebhookDelivery:
      type: object
      description: >-
        A delivery attempt record. `id` is the same value sent as the
        `X-Medal-Delivery-Id` and `Idempotency-Key` headers on the outbound
        request. Deliveries never carry payload bodies (payloads can contain
        customer PII). The correlation fields are derived from the stored event
        and fail closed to `null` when no canonical event exists — e.g.
        `test.ping` deliveries or events that have aged out of retention.
      required:
        - id
        - event_type
        - resource_id
        - conversation_id
        - message_id
        - connection_ref
        - channel
        - channel_connection_id
        - status
        - attempt_count
        - next_attempt_at
        - response_status
        - duration_ms
        - last_error
        - delivered_at
        - created_at
      properties:
        id:
          type: string
        event_type:
          type: string
        resource_id:
          type: [string, "null"]
          description: Primary subject id of the announced event, or `null`.
        conversation_id:
          type: [string, "null"]
        message_id:
          type: [string, "null"]
        connection_ref:
          type: [string, "null"]
        channel:
          type: [string, "null"]
        channel_connection_id:
          type: [string, "null"]
        status:
          type: string
          enum: [pending, delivered, dead_letter]
        attempt_count:
          type: integer
        next_attempt_at:
          type: [integer, "null"]
          description: Unix timestamp in milliseconds of the next retry, or `null`.
        response_status:
          type: [integer, "null"]
        duration_ms:
          type: [integer, "null"]
        last_error:
          type: [string, "null"]
        delivered_at:
          type: [integer, "null"]
          description: Unix timestamp in milliseconds, or `null` if not delivered.
        created_at:
          type: integer
          description: Unix timestamp in milliseconds.
    WebhookTestResult:
      type: object
      required: [delivery_id, status]
      properties:
        delivery_id:
          type: string
        status:
          type: string
          const: queued
    ConnectLinkStatus:
      type: string
      enum: [pending, consumed, expired, revoked]
    ChannelConnectionState:
      type: string
      enum: [connecting, active, disconnected, disabled]
    CreateConnectLinkInput:
      type: object
      required: [channel_type]
      properties:
        channel_type:
          type: string
          maxLength: 64
          description: Channel type to connect (e.g. `telegram_inbox`).
        label:
          type: string
          maxLength: 100
          description: Display label shown on the hosted connect page.
        redirect_url:
          type: string
          format: uri
          maxLength: 2000
          description: >-
            URL the hosted page redirects to after a successful connect — must
            be https.
    ConnectLinkCreateResult:
      type: object
      required: [id, channel_type, label, status, expires_at]
      properties:
        id:
          type: string
        url:
          type: string
          format: uri
          description: >-
            Single-use hosted connect URL containing the one-time link token —
            present ONLY in the live create response. An idempotent replay of
            the create request omits it; the token can never be retrieved
            again.
        channel_type:
          type: string
        label:
          type: [string, "null"]
        status:
          $ref: "#/components/schemas/ConnectLinkStatus"
        expires_at:
          type: integer
          description: Unix timestamp in milliseconds.
    ConnectLink:
      type: object
      required:
        - id
        - channel_type
        - label
        - status
        - consumed_connection_ref
        - expires_at
        - created_at
      properties:
        id:
          type: string
        channel_type:
          type: string
        label:
          type: [string, "null"]
        status:
          $ref: "#/components/schemas/ConnectLinkStatus"
        consumed_connection_ref:
          type: [string, "null"]
          description: >-
            Stable ref of the connection created by consuming this link, or
            `null`.
        expires_at:
          type: integer
          description: Unix timestamp in milliseconds.
        created_at:
          type: integer
          description: Unix timestamp in milliseconds.
    ConnectLinkRevokeResult:
      type: object
      required: [id, status]
      properties:
        id:
          type: string
        status:
          type: string
          const: revoked
    ChannelConnection:
      type: object
      required:
        - id
        - channel_type
        - label
        - state
        - masked_identity
        - last_activity_at
        - helpdesk_connection_id
      properties:
        id:
          type: string
        channel_type:
          type: string
        label:
          type: [string, "null"]
        state:
          $ref: "#/components/schemas/ChannelConnectionState"
        masked_identity:
          type: string
          description: Privacy-preserving identity handle (e.g. a masked phone number).
        last_activity_at:
          type: [integer, "null"]
          description: Unix timestamp in milliseconds, or `null` if never active.
        helpdesk_connection_id:
          type: [string, "null"]
          description: Linked helpdesk channel connection ID, or `null`.
[...]
