openapi: 3.1.0
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
info:
  title: Medal Social API
  version: 1.10.0
  description: Public API contract for the Medal Social TypeScript SDK.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://io.medalsocial.com
    description: Medal Social production API
security:
  - bearerAuth: []
tags:
  - name: Posts
    description: Create, schedule, publish, and inspect posts.
  - name: Emails
    description: Send transactional email and inspect templates.
  - name: Contacts
    description: Manage workspace CRM contacts.
  - name: Deals
    description: Manage sponsorship and brand deals.
  - name: Bookings
    description: >-
      Appointment bookings — the service catalogue, free slots, staff actions
      on a booking, and the customer-facing manage-token routes. Money is
      always integer øre.
  - name: Portal
    description: >-
      Customer self-service portal — e-mail one-time-code login, then
      session-bound access to the signed-in contact's own profile, bookings,
      data export and erasure. Session routes carry `X-Portal-Session`.
  - name: GDPR
    description: Manage exports, consent records, and cookie consent.
  - name: Workspaces
    description: Inspect workspaces accessible to the current credential.
  - name: Helpdesk
    description: Read helpdesk conversations, reply, and manage assignment/status.
  - name: Webhooks
    description: Manage webhook endpoints and inspect their deliveries.
  - name: Capabilities
    description: >-
      Mint short-lived capability confirmation tokens for confirmable write
      routes.
  - name: Channels
    description: >-
      Partner channel connect — mint hosted connect links and manage the
      resulting channel connections.
  - name: Scan
    description: >-
      Company & website scans (Nettsjekk) — queue a scan by URL, organisation
      number, or company name, poll the result, and search the Norwegian
      company registry.
paths:
  /api/v1/posts:
    get:
      tags: [Posts]
      operationId: listPosts
      summary: List posts
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/PostStatus"
        - name: type
          in: query
          schema:
            $ref: "#/components/schemas/PostType"
        - name: scheduled_from
          in: query
          description: Inclusive lower bound on `scheduled_at`.
          schema:
            $ref: "#/components/schemas/TimestampInput"
        - name: scheduled_to
          in: query
          description: Inclusive upper bound on `scheduled_at`.
          schema:
            $ref: "#/components/schemas/TimestampInput"
        - name: published_from
          in: query
          description: Inclusive lower bound on `published_at`.
          schema:
            $ref: "#/components/schemas/TimestampInput"
        - name: published_to
          in: query
          description: Inclusive upper bound on `published_at`.
          schema:
            $ref: "#/components/schemas/TimestampInput"
        - name: platforms
          in: query
          description: Comma-separated target platforms (e.g. `linkedin,x`).
          schema:
            type: string
        - name: query
          in: query
          description: Free-text search across title and content.
          schema:
            type: string
      responses:
        "200":
          description: Posts page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_Post"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Posts]
      operationId: createPost
      summary: Create a post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePostInput"
      responses:
        "200":
          description: Created post reference.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PostCreateResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/posts/channels:
    get:
      tags: [Posts]
      operationId: listPostChannels
      summary: List connected post channels
      responses:
        "200":
          description: Connected channels.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ChannelArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/posts/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Posts]
      operationId: getPost
      summary: Get post detail
      responses:
        "200":
          description: Post detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PostDetail"
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Posts]
      operationId: updatePost
      summary: Update a draft post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePostInput"
      responses:
        "200":
          description: Update result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Success"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Posts]
      operationId: deletePost
      summary: Delete a post
      responses:
        "200":
          description: Delete result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Success"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/posts/{id}/schedule:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags: [Posts]
      operationId: schedulePost
      summary: Schedule a post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SchedulePostInput"
      responses:
        "200":
          description: Schedule result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ScheduleResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/posts/{id}/publish:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags: [Posts]
      operationId: publishPost
      summary: Publish a post
      responses:
        "200":
          description: Publish result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PublishResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/emails:
    post:
      tags: [Emails]
      operationId: sendEmail
      summary: Send a transactional email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendEmailInput"
      responses:
        "202":
          description: Email queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_EmailSendResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/emails/batch:
    post:
      tags: [Emails]
      operationId: batchSendEmails
      summary: Send a batch of transactional emails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchSendInput"
      responses:
        "202":
          description: Batch queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BatchSendSummary"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/emails/templates:
    get:
      tags: [Emails]
      operationId: listEmailTemplates
      summary: List active email templates
      responses:
        "200":
          description: Active templates.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_EmailTemplateArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/emails/templates/{slug}:
    parameters:
      - $ref: "#/components/parameters/Slug"
    get:
      tags: [Emails]
      operationId: getEmailTemplate
      summary: Get an email template
      parameters:
        - name: locale
          in: query
          schema:
            type: string
        - name: fallback_locale
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Email template detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_EmailTemplateDetail"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/emails/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Emails]
      operationId: getEmailSend
      summary: Get sent email status
      responses:
        "200":
          description: Sent email status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_EmailSend"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/contacts:
    get:
      tags: [Contacts]
      operationId: listContacts
      summary: List contacts
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/ContactStatus"
        - name: email_status
          in: query
          schema:
            $ref: "#/components/schemas/EmailStatus"
        - name: label_ids
          in: query
          schema:
            type: string
          description: Comma-separated label IDs.
        - name: search
          in: query
          schema:
            type: string
          description: Free-text search across name, email and company.
        - name: email
          in: query
          schema:
            type: string
            format: email
          description: Exact-match on the contact's email address.
      responses:
        "200":
          description: Contacts page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_Contact"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Contacts]
      operationId: createContact
      summary: Create a contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContactInput"
      responses:
        "200":
          description: Created contact reference.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ContactCreateResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/contacts/import:
    post:
      tags: [Contacts]
      operationId: importContacts
      summary: Import contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contacts]
              properties:
                contacts:
                  type: array
                  maxItems: 500
                  items:
                    $ref: "#/components/schemas/ImportContactInput"
      responses:
        "200":
          description: Import summary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ImportContactsResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/contacts/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Contacts]
      operationId: getContact
      summary: Get a contact
      responses:
        "200":
          description: Contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Contact"
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Contacts]
      operationId: updateContact
      summary: Update a contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateContactInput"
      responses:
        "200":
          description: Update result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ContactUpdateResult"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Contacts]
      operationId: deleteContact
      summary: Delete a contact
      responses:
        "200":
          description: Delete result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ContactRemoveResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/contacts/{id}/activities:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Contacts]
      operationId: listContactActivities
      summary: List contact activities
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Contact activities page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_Activity"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/contacts/{id}/notes:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags: [Contacts]
      operationId: addContactNote
      summary: Add a contact note
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddNoteInput"
      responses:
        "200":
          description: Created note reference.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ContactNoteResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/deals:
    get:
      tags: [Deals]
      operationId: listDeals
      summary: List deals
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/DealStatus"
        - name: search
          in: query
          schema:
            type: string
        - name: close_date_from
          in: query
          description: Inclusive lower bound on the deal's close (`end_date`).
          schema:
            $ref: "#/components/schemas/TimestampInput"
        - name: close_date_to
          in: query
          description: Inclusive upper bound on the deal's close (`end_date`).
          schema:
            $ref: "#/components/schemas/TimestampInput"
        - name: min_value
          in: query
          description: Only deals worth at least this much.
          schema:
            type: number
        - name: company_name
          in: query
          description: Case-insensitive contains match against the brand / company name.
          schema:
            type: string
        - name: contact_id
          in: query
          description: Only deals linked to this contact.
          schema:
            type: string
        - name: stage
          in: query
          description: Case-insensitive stage label match (e.g. `offer sent`).
          schema:
            type: string
      responses:
        "200":
          description: Deals page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_Deal"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Deals]
      operationId: createDeal
      summary: Create a deal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDealInput"
      responses:
        "200":
          description: Created deal reference.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_DealCreateResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/deals/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Deals]
      operationId: getDeal
      summary: Get a deal
      responses:
        "200":
          description: Deal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Deal"
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Deals]
      operationId: updateDeal
      summary: Update a deal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDealInput"
      responses:
        "200":
          description: Update result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_DealUpdateResult"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Deals]
      operationId: deleteDeal
      summary: Delete a deal
      responses:
        "200":
          description: Delete result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_DealRemoveResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings:
    get:
      tags: [Bookings]
      operationId: listBookings
      summary: List bookings
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: from_ts
          in: query
          description: Only bookings starting at or after this instant.
          schema:
            $ref: "#/components/schemas/BookingTimestampInput"
        - name: to_ts
          in: query
          description: Only bookings starting before this instant.
          schema:
            $ref: "#/components/schemas/BookingTimestampInput"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/BookingStatus"
        - name: resource_id
          in: query
          schema:
            type: string
        - name: created_via
          in: query
          description: >-
            Only bookings with this provenance. Every value the column holds is
            filterable here, unlike the create body's allowlist; any other
            value is a 400.
          schema:
            $ref: "#/components/schemas/BookingCreatedVia"
      responses:
        "200":
          description: Bookings page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_Booking"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Bookings]
      operationId: createBooking
      summary: Create a booking or party
      description: >-
        Books every item or none of them. Each created booking carries a
        `manage_token` returned exactly once — only its hash is stored, and an
        idempotent replay omits it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBookingInput"
      responses:
        "201":
          description: Created bookings, in request order.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingCreateResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/services:
    get:
      tags: [Bookings]
      operationId: listBookingServices
      summary: List bookable services
      parameters:
        - name: include_inactive
          in: query
          description: >-
            Include services with `active: false`. Defaults to active-only.
          schema:
            type: boolean
      responses:
        "200":
          description: Bookable service catalogue.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingServiceArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/resources:
    get:
      tags: [Bookings]
      operationId: listBookingResources
      summary: List bookable resources
      responses:
        "200":
          description: Bookable resources — staff, rooms, and equipment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingResourceArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/availability:
    get:
      tags: [Bookings]
      operationId: listBookingAvailability
      summary: List free slots for a service
      description: >-
        Slots reflect opening hours, time off, buffers, and existing bookings
        at the moment of the call. They are not held.
      parameters:
        - name: service_id
          in: query
          required: true
          schema:
            type: string
        - name: from_ts
          in: query
          required: true
          description: Start of the window.
          schema:
            $ref: "#/components/schemas/BookingTimestampInput"
        - name: to_ts
          in: query
          required: true
          description: End of the window; must be after `from_ts`.
          schema:
            $ref: "#/components/schemas/BookingTimestampInput"
        - name: resource_id
          in: query
          description: Restrict slots to one resource.
          schema:
            type: string
      responses:
        "200":
          description: Free slots.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingSlotArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/schedule:
    get:
      tags: [Bookings]
      operationId: listBookingSchedule
      summary: List the dates a service can be booked on
      description: >-
        The other half of `availability`. Availability returns free slots and
        nothing else, so a closed day, an evening past closing and a fully
        booked day all come back as the same empty array. This returns one
        entry per date the workspace keeps opening hours on; a date ABSENT from
        the response is closed. `last_start_ts` is the last start this service
        could occupy on that date (it depends on the service's duration and
        buffers, not just the closing time) and is `null` for a date with
        posted hours that is shut outright, such as a public holiday.
      parameters:
        - name: service_id
          in: query
          required: true
          schema:
            type: string
        - name: from_ts
          in: query
          required: true
          description: Start of the window.
          schema:
            $ref: "#/components/schemas/BookingTimestampInput"
        - name: to_ts
          in: query
          required: true
          description: End of the window; must be after `from_ts`.
          schema:
            $ref: "#/components/schemas/BookingTimestampInput"
        - name: resource_id
          in: query
          description: Restrict to one resource's hours.
          schema:
            type: string
      responses:
        "200":
          description: Open dates.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingScheduleDayArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/today:
    get:
      tags: [Bookings]
      operationId: getBookingsToday
      summary: The salon's operating summary for one local date
      description: >-
        Counts, the opening window, the next free gap and the day's takings
        split by provider. `date_key` is the WORKSPACE's calendar date, so a
        caller in another zone still reads the salon's day; omit it for today.
        `truncated` means a source hit its read cap and the counts are floors.
      parameters:
        - name: date_key
          in: query
          description: >-
            `yyyymmdd` in the workspace time zone. Defaults to the salon's
            today. A non-integer is `400 VALIDATION_ERROR`.
          schema:
            type: integer
      responses:
        "200":
          description: The day's operating summary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingsToday"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/attention:
    get:
      tags: [Bookings]
      operationId: getBookingAttention
      summary: Open items that need a human
      description: >-
        Derived on every call from facts recorded elsewhere: a failed payment,
        a released hold, a waitlist offer about to expire, an arrangement
        missing consent. NOT a page — `truncated` is a read budget rather than
        a cursor, and `total` is exact only while it is false. Items carry no
        prose: render the sentence from `kind`.
      responses:
        "200":
          description: The attention feed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingAttentionFeed"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/persons:
    get:
      tags: [Bookings]
      operationId: listContactPersons
      summary: List a contact's persons
      description: >-
        Persons a contact books for — a child, a pet, an employee. No login of
        their own. Active-only unless `include_inactive` is set.
      parameters:
        - name: contact_id
          in: query
          required: true
          schema:
            type: string
        - name: include_inactive
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Contact persons.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ContactPersonArray"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Bookings]
      operationId: createContactPerson
      summary: Add a person under a contact
      description: >-
        Find-or-create: `201` when a person row was inserted, `200` when an
        existing person under the same contact answered the name match.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContactPersonInput"
      responses:
        "200":
          description: An existing person matched.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ContactPerson"
        "201":
          description: Created person.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ContactPerson"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/relations:
    get:
      tags: [Bookings]
      operationId: listContactRelations
      summary: List a contact's relations
      description: Directional relations a contact holds, split into outgoing and incoming.
      parameters:
        - name: contact_id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Outgoing and incoming relations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ContactRelations"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Bookings]
      operationId: createContactRelation
      summary: Create a relation from one contact to another
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContactRelationInput"
      responses:
        "201":
          description: Created relation id.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_CreateContactRelationResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/events:
    get:
      tags: [Bookings]
      operationId: listBookingEvents
      summary: List arrangementer in a date range
      parameters:
        - name: from
          in: query
          required: true
          description: Start of the window, `yyyy-mm-dd`, inclusive.
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          description: End of the window, `yyyy-mm-dd`, inclusive.
          schema:
            type: string
            format: date
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/BookingEventStatus"
        - name: host_id
          in: query
          description: Restrict to arrangementer at one host.
          schema:
            type: string
      responses:
        "200":
          description: Arrangementer in the window.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingEventArray"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Bookings]
      operationId: createBookingEvent
      summary: Create an arrangement from a template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBookingEventInput"
      responses:
        "201":
          description: Created arrangement.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingEvent"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/events/hosts:
    get:
      tags: [Bookings]
      operationId: listBookingEventHosts
      summary: List arrangement hosts
      description: >-
        Every host, name-sorted, so a public landing page can resolve one by
        `slug` instead of putting the host id in a URL.
      responses:
        "200":
          description: The workspace's arrangement hosts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingEventHostArray"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Bookings]
      operationId: createBookingEventHost
      summary: Find or create an arrangement host by name
      description: >-
        `201` when a host row was inserted, `200` when an existing host
        answered the name match. A matched host is returned UNCHANGED, so a
        corrected `address` sent here is dropped — use
        `updateBookingEventHost` to fix one.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBookingEventHostInput"
      responses:
        "200":
          description: An existing host matched the name.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingEventHost"
        "201":
          description: The created host.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingEventHost"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/events/hosts/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    patch:
      tags: [Bookings]
      operationId: updateBookingEventHost
      summary: Correct an arrangement host
      description: >-
        The only write that changes an EXISTING host: the create is
        find-or-create by name and returns a match untouched. `address: null`
        and `note: null` erase; an omitted key leaves the stored value alone.
        `slug` is not patchable — it is a stable public URL segment. Retiring a
        host is `retired: true`, not a delete, because events already point at
        it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBookingEventHostInput"
      responses:
        "200":
          description: The host as it is after the change.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingEventHost"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/events/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Bookings]
      operationId: getBookingEvent
      summary: Get an arrangement
      responses:
        "200":
          description: Arrangement.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingEvent"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Bookings]
      operationId: deleteBookingEvent
      summary: Remove an arrangement day
      description: >-
        The one delete on the bookings surface — a booking is never deleted,
        it is cancelled, which keeps the row and its money trail. OAuth
        callers need the workspace `admin` role (`403` otherwise); a workspace
        API key is an admin-minted credential and is not held to the floor. A
        `completed` day is `422`; a day with any non-cancelled registration is
        `409` — cancel those first. `mode` says whether the row itself went
        (`hard`) or was kept as a tombstone for cancelled registrations
        (`soft`).
      responses:
        "200":
          description: The arrangement day is gone from every read.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingEventRemoveResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/events/{id}/registrations:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Bookings]
      operationId: listBookingEventRegistrations
      summary: An arrangement's roster
      description: >-
        Every booking registered to the arrangement, ordered by
        `event_order`. Names come from the live contact and person, not the
        booking's snapshot. Cancelled registrations are returned, not
        filtered — the event's `registered_count` answers the capacity
        question separately. Capped at 300 rows; `truncated: true` means the
        ordering can no longer be trusted.
      responses:
        "200":
          description: The arrangement's roster.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ListBookingEventRegistrationsResult"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Bookings]
      operationId: registerBookingEvent
      summary: Register a child for an arrangement
      description: >-
        Registers a guardian's child for the arrangement. Lands as a Booking
        with `event_id` set; when the arrangement's service requires payment,
        `payment` carries the same show-once redirect `startBookingPayment`
        does. A payment failure does not undo the registration — the booking
        is still created and `payment_error` explains what to retry. 404 on an
        unknown or another workspace's arrangement, 409 once the arrangement
        is full or closed, 422 on a `return_url` this workspace's own sites do
        not vouch for.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterBookingEventInput"
      responses:
        "201":
          description: The created registration.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingEventRegistrationResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Bookings]
      operationId: getBooking
      summary: Get a booking
      responses:
        "200":
          description: Booking.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Booking"
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Bookings]
      operationId: updateBooking
      summary: Annotate a booking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBookingInput"
      responses:
        "200":
          description: The updated booking.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Booking"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/{id}/cancel:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags: [Bookings]
      operationId: cancelBooking
      summary: Cancel a booking as the business
      description: >-
        Staff semantics — the workspace's cancel window is bypassed and the
        cancellation is attributed to staff.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelBookingInput"
      responses:
        "200":
          description: Cancel result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingActionResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/{id}/reschedule:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags: [Bookings]
      operationId: rescheduleBooking
      summary: Reschedule a booking as the business
      description: >-
        Staff semantics — the reschedule window is bypassed. The old booking is
        cancelled and a new one inserted, so the response carries a new booking
        id and a freshly minted manage token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RescheduleBookingInput"
      responses:
        "200":
          description: Reschedule result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingRescheduleResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/{id}/no-show:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags: [Bookings]
      operationId: markBookingNoShow
      summary: Mark a booking as a no-show
      responses:
        "200":
          description: No-show result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingActionResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/{id}/payment:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags: [Bookings]
      operationId: startBookingPayment
      summary: Start a Vipps payment for a booking
      description: >-
        Reserves (or charges) the booking's amount and returns the wallet
        redirect URL. The customer must have accepted your terms before this
        call — `terms_accepted` must be literally `true`, and a body omitting
        it is a 400. One live payment per booking: a second while one is
        outstanding answers 409, as does a booking that is not payable or a
        refusal from Vipps. A `return_url` this workspace's own sites do not
        vouch for answers 422, not 400 — the URL parses, it is just not yours.
        403 when the payments switch or the bookings module is off.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartBookingPaymentInput"
      responses:
        "200":
          description: >-
            The reference and the SHOW-ONCE redirect URL. The URL is never
            returned again — the payment behind it expires after ten minutes,
            so a cached one leads into a payment that no longer exists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingPaymentStart"
        default:
          $ref: "#/components/responses/ApiError"
    get:
      tags: [Bookings]
      operationId: getBookingPayment
      summary: Read the newest payment attempt on a booking
      description: >-
        Returns the newest attempt only. A booking with no payment yet, an
        unknown booking id and another workspace's booking all answer 404
        alike, so this is not an existence oracle.
      responses:
        "200":
          description: The payment. `redirect_url` is deliberately absent here.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingPayment"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/manage/{token}/payment:
    parameters:
      - $ref: "#/components/parameters/ManageToken"
    post:
      tags: [Bookings]
      operationId: startManageBookingPayment
      summary: Start a payment on the customer's behalf
      description: >-
        The manage-token twin of `startBookingPayment` — same body, same
        responses; only the credential that authorizes it differs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartBookingPaymentInput"
      responses:
        "200":
          description: The reference and the show-once redirect URL.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingPaymentStart"
        default:
          $ref: "#/components/responses/ApiError"
    get:
      tags: [Bookings]
      operationId: getManageBookingPayment
      summary: Read the payment on the customer's own booking
      description: >-
        An unknown token, another workspace's token and a booking with no
        payment yet all answer 404 alike.
      responses:
        "200":
          description: The payment. `redirect_url` is deliberately absent here.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingPayment"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/manage/{token}:
    parameters:
      - $ref: "#/components/parameters/ManageToken"
    get:
      tags: [Bookings]
      operationId: getManagedBooking
      summary: Get the customer manage summary for a token
      responses:
        "200":
          description: >-
            Manage summary. An unknown token and a token belonging to another
            workspace both answer 404, so this is not an existence oracle.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ManageSummary"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/manage/{token}/cancel:
    parameters:
      - $ref: "#/components/parameters/ManageToken"
    post:
      tags: [Bookings]
      operationId: cancelManagedBooking
      summary: Cancel on the customer's behalf
      description: >-
        Customer semantics — the workspace's cancel window is ENFORCED and the
        cancellation is attributed to the customer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelBookingInput"
      responses:
        "200":
          description: Cancel result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingActionResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/bookings/manage/{token}/reschedule:
    parameters:
      - $ref: "#/components/parameters/ManageToken"
    post:
      tags: [Bookings]
      operationId: rescheduleManagedBooking
      summary: Reschedule on the customer's behalf
      description: >-
        Customer semantics — the reschedule window is ENFORCED. The response
        carries a new booking id and a new manage token; the old token stops
        working.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RescheduleBookingInput"
      responses:
        "200":
          description: Reschedule result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_BookingRescheduleResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/portal/login/start:
    post:
      tags: [Portal]
      operationId: startPortalLogin
      summary: E-mail a one-time login code
      description: >-
        Always answers 202 `{ status: "sent" }`, whether or not the address
        belongs to a contact — enumeration-safe by design. Rate-limited per
        address and per caller (`429 RATE_LIMITED`). Not idempotency-keyed.
        Errors: `400 VALIDATION_ERROR`, `403 FORBIDDEN` (key lacks
        `write:portal`), `429 RATE_LIMITED`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PortalLoginStartInput"
      responses:
        "202":
          description: Code queued (or silently not, for an unknown address).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PortalLoginStartResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/portal/login/verify:
    post:
      tags: [Portal]
      operationId: verifyPortalLogin
      summary: Exchange the e-mailed code for a session
      description: >-
        A wrong, burned or expired code all answer `401 PORTAL_CODE_INVALID` —
        the three are not distinguished, so the response is not an oracle for
        which codes exist. The returned `session_token` is a bearer credential
        for ONE contact: keep it in an HttpOnly cookie on the site's server and
        never hand it to the browser. Not idempotency-keyed. Errors:
        `400 VALIDATION_ERROR`, `401 PORTAL_CODE_INVALID`, `403 FORBIDDEN`,
        `429 RATE_LIMITED`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PortalVerifyInput"
      responses:
        "200":
          description: The new session.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PortalSession"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/portal/vipps/start:
    post:
      tags: [Portal]
      operationId: startPortalVipps
      summary: Begin a "Log in with Vipps" flow
      description: >-
        Returns the URL to send the customer to. `return_url` must be an
        `https` URL under one of the workspace's own sites, or the call is
        refused with `400 INVALID_RETURN_URL` — the allow-list is the salon's
        site origins. `authorize_url` carries a one-time `state`, so it is
        never cached or reused. `503 VIPPS_NOT_CONFIGURED` when this
        deployment has no Vipps login configured.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PortalVippsStartInput"
      responses:
        "200":
          description: Where to send the customer.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PortalVippsStart"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/portal/vipps/callback:
    get:
      tags: [Portal]
      operationId: portalVippsCallback
      summary: Vipps redirects the customer's browser here
      description: >-
        A PUBLIC browser navigation, not an API call: it takes no API key and
        no SDK method wraps it. Medal validates the one-time `state`, then
        redirects back to the `return_url` the flow started with, carrying
        either `?grant=…` (exchange it) or `?vipps=needs_email_login` /
        `?vipps=failed` (fall back to the e-mail code login). An unknown or
        expired `state` answers `400` in plain text, because there is no
        trusted return URL to send the browser to.
      parameters:
        - name: state
          in: query
          required: true
          description: The one-time state Medal minted in `startPortalVipps`.
          schema:
            type: string
        - name: code
          in: query
          description: Vipps' authorization code.
          schema:
            type: string
      responses:
        "302":
          description: Redirect back to the flow's `return_url`.
        "400":
          description: >-
            The state is unknown or expired, so there is no trusted return URL.
          content:
            text/plain:
              schema:
                type: string
  /api/v1/portal/vipps/exchange:
    post:
      tags: [Portal]
      operationId: exchangePortalVipps
      summary: Exchange a Vipps login grant for a portal session
      description: >-
        Call this from your SERVER with the `grant` the callback appended to
        your return URL, and keep `session_token` in an HttpOnly cookie. The
        grant is single-use: a second exchange answers `404 GRANT_NOT_FOUND`,
        which is also the answer for an expired grant or one minted under
        another workspace.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PortalVippsExchangeInput"
      responses:
        "200":
          description: A portal session for the signed-in contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PortalVippsSession"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/portal/logout:
    parameters:
      - $ref: "#/components/parameters/PortalSession"
    post:
      tags: [Portal]
      operationId: logoutPortal
      summary: Revoke the session
      description: >-
        Revoking twice reaches the same state — the second call answers
        `401 PORTAL_SESSION_INVALID`. Not idempotency-keyed. Errors:
        `401 PORTAL_SESSION_REQUIRED` (header missing),
        `401 PORTAL_SESSION_INVALID` (unknown, expired or revoked),
        `403 FORBIDDEN`, `429 RATE_LIMITED`.
      responses:
        "204":
          description: Session revoked.
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/portal/me:
    parameters:
      - $ref: "#/components/parameters/PortalSession"
    get:
      tags: [Portal]
      operationId: getPortalProfile
      summary: The signed-in contact's profile
      description: >-
        Errors: `401 PORTAL_SESSION_REQUIRED`, `401 PORTAL_SESSION_INVALID`,
        `403 FORBIDDEN` (key lacks `read:portal`), `429 RATE_LIMITED`.
      responses:
        "200":
          description: Profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PortalProfile"
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Portal]
      operationId: updatePortalProfile
      summary: Update the signed-in contact's profile
      description: >-
        Only the supplied fields change. `phone: null` clears the number,
        `family` replaces the whole list, and `marketing_consent` records a
        `marketing_email` consent decision with source `portal`. Answers the
        profile as it is after the change. Errors: `400 VALIDATION_ERROR`,
        `401 PORTAL_SESSION_REQUIRED`, `401 PORTAL_SESSION_INVALID`,
        `403 FORBIDDEN` (key lacks `write:portal`), `429 RATE_LIMITED`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PortalProfilePatch"
      responses:
        "200":
          description: Updated profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PortalProfile"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/portal/me/bookings:
    parameters:
      - $ref: "#/components/parameters/PortalSession"
    get:
      tags: [Portal]
      operationId: listPortalBookings
      summary: The signed-in contact's bookings
      description: >-
        Split into `upcoming` and `past`. An upcoming booking still inside the
        workspace's policy windows carries `manage_token` and
        `can_manage: true`; the token opens the site's manage page. Errors:
        `401 PORTAL_SESSION_REQUIRED`, `401 PORTAL_SESSION_INVALID`,
        `403 FORBIDDEN`, `429 RATE_LIMITED`.
      responses:
        "200":
          description: Bookings.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PortalBookings"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/portal/me/export:
    parameters:
      - $ref: "#/components/parameters/PortalSession"
    post:
      tags: [Portal]
      operationId: exportPortalData
      summary: Export everything held about the signed-in contact
      description: >-
        A synchronous GDPR Art. 15 export of the contact's profile, family,
        consents and bookings, as one JSON document. Unlike `GET
        /api/v1/portal/me`, `contact.persons` here includes inactive persons
        so the export is a complete dump. `relations` lists every relation
        the contact is a party to, exposing only the counterpart's display
        name. Read-only, so not idempotency-keyed. Errors: `401
        PORTAL_SESSION_REQUIRED`, `401 PORTAL_SESSION_INVALID`, `403
        FORBIDDEN`, `429 RATE_LIMITED`.
      responses:
        "200":
          description: The export.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PortalExport"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/portal/me/delete:
    parameters:
      - $ref: "#/components/parameters/PortalSession"
    post:
      tags: [Portal]
      operationId: deletePortalAccount
      summary: Erase the signed-in contact
      description: >-
        GDPR Art. 17 erasure. The session is revoked as part of the deletion,
        so a retry answers `401 PORTAL_SESSION_INVALID` rather than deleting
        anything else. Not idempotency-keyed. Errors:
        `401 PORTAL_SESSION_REQUIRED`, `401 PORTAL_SESSION_INVALID`,
        `403 FORBIDDEN` (key lacks `write:portal`), `429 RATE_LIMITED`.
      responses:
        "204":
          description: Contact erased and session revoked.
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/gdpr/export:
    post:
      tags: [GDPR]
      operationId: requestGdprExport
      summary: Request a GDPR export
      responses:
        "200":
          description: Export request reference.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_GdprExportRequest"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/gdpr/exports:
    get:
      tags: [GDPR]
      operationId: listGdprExports
      summary: List GDPR exports
      responses:
        "200":
          description: Export requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_GdprExportArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/gdpr/exports/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [GDPR]
      operationId: getGdprExport
      summary: Get a GDPR export
      responses:
        "200":
          description: Export request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_GdprExport"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/gdpr/consent:
    post:
      tags: [GDPR]
      operationId: recordGdprConsent
      summary: Record GDPR consent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecordConsentInput"
      responses:
        "200":
          description: Consent reference.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ConsentResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/gdpr/consent/{email}:
    parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
          format: email
    get:
      tags: [GDPR]
      operationId: getGdprConsent
      summary: Get GDPR consent records
      responses:
        "200":
          description: Consent records.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ConsentRecordArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/cookie-consent:
    post:
      tags: [GDPR]
      operationId: recordCookieConsent
      summary: Record cookie consent
      description: >-
        Server-to-server ingestion of a cookie consent event, authenticated
        with a workspace API key — never call it from a browser. Rate limited
        to 600/min per API key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CookieConsentInput"
      responses:
        "200":
          description: Cookie consent result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CookieConsentResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/me/workspaces:
    get:
      tags: [Workspaces]
      operationId: listWorkspaces
      summary: List accessible workspaces
      responses:
        "200":
          description: Workspaces.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WorkspaceArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/helpdesk/conversations:
    get:
      tags: [Helpdesk]
      operationId: listHelpdeskConversations
      summary: List helpdesk conversations
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - $ref: "#/components/parameters/Cursor"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/HelpdeskConversationStatus"
        - name: assignee_user_id
          in: query
          schema:
            type: string
          description: Only conversations assigned to this user.
        - name: requester
          in: query
          schema:
            type: string
          description: Match against visitor name/email.
        - name: query
          in: query
          schema:
            type: string
          description: Free-text search query.
        - name: channels
          in: query
          schema:
            type: string
          description: Comma-separated channel types (e.g. `widget,whatsapp`).
        - name: chat_type
          in: query
          schema:
            $ref: "#/components/schemas/HelpdeskChatType"
          description: >-
            Only conversations of this chat kind on personal-account channels;
            conversations without a chat type never match.
        - name: assigned
          in: query
          schema:
            type: boolean
          description: >-
            `false` = only conversations nobody owns yet, `true` = only owned
            ones. Only the exact strings `true` / `false` are accepted.
      responses:
        "200":
          description: Conversations page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_HelpdeskConversation"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/helpdesk/conversations/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Helpdesk]
      operationId: getHelpdeskConversation
      summary: Get a helpdesk conversation
      responses:
        "200":
          description: Conversation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_HelpdeskConversation"
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Helpdesk]
      operationId: updateHelpdeskConversation
      summary: Update a conversation's status or assignee
      description: >-
        Set `status` and/or `assignee_user_id` (`null` unassigns). At least one
        field is required. Capability-scoped tokens must send `Idempotency-Key`
        and `X-Capability-Confirmation` headers on this route; API keys with
        legacy scopes may omit them.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateHelpdeskConversationInput"
      responses:
        "200":
          description: Update result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_HelpdeskConversationUpdateResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/helpdesk/conversations/{id}/contact:
    parameters:
      - $ref: "#/components/parameters/Id"
    put:
      tags: [Helpdesk]
      operationId: linkHelpdeskConversationContact
      summary: Link a conversation's sender to a CRM contact
      description: >-
        The partner-driven half of contact linking: the partner knows which
        external user is which customer, and Medal cannot derive it. Exactly
        one of `contact_id` or `email`; an `email` resolves through the CRM's
        own find-or-create. The link is stored on the SENDER, so every later
        thread from the same external contact inherits it and
        `conversations_updated` counts the threads it reached. Group threads
        and channels without a stable sender answer
        `422 CONVERSATION_NOT_LINKABLE`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkConversationContactInput"
      responses:
        "200":
          description: The sender is linked to the contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ConversationContactLinkResult"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Helpdesk]
      operationId: unlinkHelpdeskConversationContact
      summary: Unlink a conversation's sender from its CRM contact
      description: >-
        Reverses a mistaken link. Idempotent: a thread that carries no contact
        answers `unlinked: false` rather than an error.
      responses:
        "200":
          description: The sender carries no contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ConversationContactUnlinkResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/helpdesk/conversations/{id}/messages:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Helpdesk]
      operationId: listHelpdeskConversationMessages
      summary: List conversation messages
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Messages page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_HelpdeskMessage"
        "404":
          description: Conversation not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/helpdesk/replies:
    post:
      tags: [Helpdesk]
      operationId: createHelpdeskReply
      summary: Send an operator reply or internal note
      description: >-
        Send an `Idempotency-Key` header so retried requests do not create
        duplicate messages — it is required for capability-scoped tokens
        (together with `X-Capability-Confirmation`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateHelpdeskReplyInput"
      responses:
        "201":
          description: Created reply reference.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_HelpdeskReplyCreateResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/webhooks:
    get:
      tags: [Webhooks]
      operationId: listWebhooks
      summary: List webhook endpoints
      responses:
        "200":
          description: Webhook endpoints.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WebhookEndpointArray"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Webhooks]
      operationId: createWebhook
      summary: Create a webhook endpoint
      description: >-
        The response's `data.secret` contains the signing secret EXACTLY ONCE —
        it can never be retrieved again, so store it securely immediately. An
        idempotent replay (same `Idempotency-Key`) returns the existing
        endpoint WITHOUT `secret`. Deliveries are HTTP POSTs signed with
        `X-Medal-Signature: sha256=<base64(HMAC-SHA256("{timestamp}.{rawBody}",
        secret))>` plus `X-Medal-Timestamp`, `X-Medal-Event`, and
        `X-Medal-Delivery-Id` / `Idempotency-Key` headers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookInput"
      responses:
        "201":
          description: Created endpoint, including the one-time `secret`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WebhookEndpoint"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/webhooks/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Webhooks]
      operationId: getWebhook
      summary: Get a webhook endpoint
      responses:
        "200":
          description: Webhook endpoint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WebhookEndpoint"
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Webhooks]
      operationId: updateWebhook
      summary: Update a webhook endpoint
      description: >-
        Only provided fields change. Pass `null` for `channels` or
        `channel_connection_ids` to clear that filter.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookInput"
      responses:
        "200":
          description: Updated endpoint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WebhookEndpoint"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Webhooks]
      operationId: deleteWebhook
      summary: Delete a webhook endpoint
      description: >-
        Permanently deletes the endpoint and stops all outbound deliveries.
        Capability-scoped tokens must send `Idempotency-Key` and
        `X-Capability-Confirmation` headers on this route; API keys with legacy
        scopes may omit them.
      responses:
        "200":
          description: Delete result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WebhookDeleteResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/webhooks/{id}/deliveries:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Webhooks]
      operationId: listWebhookDeliveries
      summary: List recent deliveries
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Recent deliveries, most recent first.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WebhookDeliveryArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/webhooks/{id}/test:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags: [Webhooks]
      operationId: testWebhook
      summary: Queue a test delivery
      description: Queues a signed `test.ping` delivery to the endpoint.
      responses:
        "202":
          description: Test delivery queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WebhookTestResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/capability-confirmations:
    post:
      tags: [Capabilities]
      operationId: issueCapabilityConfirmation
      summary: Issue a capability confirmation token
      description: >-
        Mints a short-lived `X-Capability-Confirmation` token for one pending
        write. Confirmable write routes require BOTH `Idempotency-Key` and
        `X-Capability-Confirmation` when the credential holds the capability
        scope directly; API keys with legacy scopes are exempt. The token is
        bound to the workspace, auth subject, method, path, required scopes and
        idempotency key, and expires within 15 minutes. `user_approved: true`
        asserts that a human on the caller's side approved this exact action.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssueCapabilityConfirmationInput"
      responses:
        "200":
          description: Minted confirmation token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_CapabilityConfirmation"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/channels/connect-links:
    post:
      tags: [Channels]
      operationId: createChannelConnectLink
      summary: Mint a hosted connect link
      description: >-
        Mints a single-use hosted connect link that lets an external person
        (no Medal account required) attach a channel account (e.g.
        `telegram_inbox`) to the workspace's helpdesk. The response's
        `data.url` contains the one-time link token EXACTLY ONCE — an
        idempotent replay (same `Idempotency-Key`) returns the link WITHOUT
        `url`. Requires the `channel.connect.manage` scope; OAuth callers
        additionally need the workspace `admin` role.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateConnectLinkInput"
      responses:
        "201":
          description: Minted connect link, including the one-time `url`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ConnectLinkCreateResult"
        default:
          $ref: "#/components/responses/ApiError"
    get:
      tags: [Channels]
      operationId: listChannelConnectLinks
      summary: List connect links
      description: >-
        Link tokens are never returned. Newest first, cursor-paginated. The
        `channel_type` / `status` filters are applied within each page, so a
        page may hold fewer than `limit` items while `pagination.has_more` is
        still true — page off `has_more`, not the item count.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Page size (default 50, capped at 100).
        - $ref: "#/components/parameters/Cursor"
        - name: channel_type
          in: query
          schema:
            $ref: "#/components/schemas/ChannelType"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/ConnectLinkStatus"
      responses:
        "200":
          description: Connect links page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_ConnectLink"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/channels/connect-links/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    delete:
      tags: [Channels]
      operationId: revokeChannelConnectLink
      summary: Revoke a connect link
      description: >-
        Revokes a pending connect link so it can no longer be consumed. OAuth
        callers need the workspace `admin` role.
      responses:
        "200":
          description: Revoke result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ConnectLinkRevokeResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/channels/connections:
    get:
      tags: [Channels]
      operationId: listChannelConnections
      summary: List channel connections
      description: >-
        The workspace's channel connections in a generic, channel-agnostic
        shape. Newest first, cursor-paginated. Rows that are not projectable
        as connections are dropped within the page, so a page may hold fewer
        than `limit` items while `pagination.has_more` is still true — page
        off `has_more`, not the item count.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Page size (default 50, capped at 100).
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Channel connections page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_ChannelConnection"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/channels/connections/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    delete:
      tags: [Channels]
      operationId: disconnectChannelConnection
      summary: Disconnect a channel connection
      description: >-
        Disconnects a connected channel account (best-effort platform logout,
        then local revoke). Emits a `helpdesk.channel_disconnected` webhook
        event with `reason: "api_disconnect"` if the account was previously
        connected. OAuth callers need the workspace `admin` role.
      responses:
        "200":
          description: Disconnect result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ChannelConnectionDisconnectResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/scan:
    post:
      tags: [Scan]
      operationId: createScan
      summary: Queue a company/site scan
      description: >-
        Queues an asynchronous scan. Provide exactly one of `url`, `orgnr`, or
        `name`; poll the returned id via `GET /api/v1/scan/{id}`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScanCreateInput"
      responses:
        "202":
          description: Scan job queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ScanCreateResult"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/scan/companies:
    get:
      tags: [Scan]
      operationId: searchScanCompanies
      summary: Search the Norwegian company registry
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 2
      responses:
        "200":
          description: Registry matches (top 5, relevance-ranked).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ScanCompanyArray"
        default:
          $ref: "#/components/responses/ApiError"
  /api/v1/scan/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags: [Scan]
      operationId: getScan
      summary: Get a scan job
      responses:
        "200":
          description: Scan job status and, once done, the findings payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ScanJob"
        default:
          $ref: "#/components/responses/ApiError"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
    Slug:
      name: slug
      in: path
      required: true
      schema:
        type: string
    ManageToken:
      name: token
      in: path
      required: true
      description: >-
        The show-once manage token handed out when the booking was created.
        Possession of it authorizes the customer's own cancel or reschedule.
      schema:
        type: string
    PortalSession:
      name: X-Portal-Session
      in: header
      required: true
      description: >-
        The `session_token` returned by `verifyPortalLogin`. A bearer
        credential for ONE contact — the site's server keeps it in an HttpOnly
        cookie and forwards it here. Missing answers
        `401 PORTAL_SESSION_REQUIRED`; unknown, expired or revoked answers
        `401 PORTAL_SESSION_INVALID`.
      schema:
        type: string
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 500
  responses:
    ApiError:
      description: API error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
  schemas:
    ApiError:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              description: >-
                Machine-readable failure code. Branch on this, never on
                `message`, which is prose and may change. The codes the API
                throws today are listed in `x-medal-error-codes` below and
                exported from the SDK as `MedalErrorCode`; the property stays an
                open string because a new code is an additive server change, so
                handle an unknown one as a generic failure of its HTTP status.
              type: string
            message:
              type: string
            details: true
      # Deliberately an EXTENSION rather than an `enum` on `code`: closing the
      # enum would make the document claim a completeness no client can rely on
      # (the codes come from handler throws, not from a registry), and would make
      # every generated client reject a code the server adds next week.
      x-medal-error-codes:
        - AI_GENERATION_FAILED
        - AI_QUOTA_EXCEEDED
        - CAPABILITY_API_PATH_INVALID
        - CAPABILITY_API_PATH_REQUIRED
        - CAPABILITY_CONFIRMATION_REQUIRED
        - CAPABILITY_NOT_API_BACKED
        - CAPABILITY_NOT_CONFIRMABLE
        - CAPABILITY_NOT_FOUND
        - CAPABILITY_PATH_PARAM_REQUIRED
        - CAPABILITY_SCOPE_DENIED
        - CONFIRMATION_CONTEXT_MISMATCH
        - CONFIRMATION_EXPIRED
        - CONFIRMATION_INVALID
        - CONFIRMATION_MALFORMED
        - CONFLICT
        - CONTACT_NOT_FOUND
        - CONVERSATION_NOT_LINKABLE
        - FORBIDDEN
        - GRANT_NOT_FOUND
        - IDEMPOTENCY_IN_PROGRESS
        - IDEMPOTENCY_KEY_CONFLICT
        - IDEMPOTENCY_KEY_REQUIRED
        - INTERNAL_ERROR
        - INVALID_IDEMPOTENCY_KEY
        - INVALID_INPUT
        - INVALID_OAUTH_RESOURCE
        - INVALID_RETURN_URL
        - NOT_FOUND
        - PILOT_ASK_FAILED
        - PORTAL_CODE_INVALID
        - PORTAL_SESSION_INVALID
        - PORTAL_SESSION_REQUIRED
        - PREVIEW_RECEIPT_REQUIRED
        - RATE_LIMITED
        - SEND_FAILED
        - UNAUTHORIZED
        - UPSTREAM_UNAVAILABLE
        - VALIDATION_ERROR
        - VIPPS_NOT_CONFIGURED
    Pagination:
      type: object
      required: [has_more, next_cursor]
      properties:
        has_more:
          type: boolean
        next_cursor:
          type: [string, "null"]
    Success:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
    PostCreateResult:
      type: object
      required: [id]
      properties:
        id:
          type: string
    Post:
      type: object
      required:
        - id
        - type
        - title
        - content
        - status
        - channel_ids
        - variant_count
        - published_count
        - failed_count
        - scheduled_at
        - published_at
        - created_at
        - updated_at
      properties:
        id:
          type: string
        type:
          $ref: "#/components/schemas/PostType"
        title:
          type: [string, "null"]
        content:
          type: string
        status:
          $ref: "#/components/schemas/PostStatus"
        channel_ids:
          type: array
          items:
            type: string
        variant_count:
          type: integer
        published_count:
          type: integer
        failed_count:
          type: integer
        scheduled_at:
          type: [string, "null"]
          format: date-time
        published_at:
          type: [string, "null"]
          format: date-time
        created_at:
          type: [string, "null"]
          format: date-time
        updated_at:
          type: [string, "null"]
          format: date-time
    PostType:
      type: string
      enum: [social, newsletter, blog]
    PostStatus:
      description: >-
        Lifecycle status of a post. `partial` = some variants published and
        some failed; `unpublished` = every published variant was taken down.
      type: string
      enum:
        - draft
        - review
        - approved
        - scheduled
        - publishing
        - published
        - failed
        - partial
        - unpublished
    PostVariantStatus:
      type: string
      enum: [pending, scheduled, publishing, published, failed, unpublishing, unpublished]
    PostVariant:
      type: object
      required:
        - id
        - channel_id
        - content
        - status
        - platform
        - channel_display_name
        - scheduled_at
        - published_at
        - platform_post_id
        - permalink
        - error
      properties:
        id:
          type: string
        channel_id:
          type: string
        content:
          type: string
        status:
          $ref: "#/components/schemas/PostVariantStatus"
        platform:
          type: [string, "null"]
        channel_display_name:
          type: [string, "null"]
        scheduled_at:
          type: [string, "null"]
          format: date-time
        published_at:
          type: [string, "null"]
          format: date-time
        platform_post_id:
          type: [string, "null"]
        permalink:
          type: [string, "null"]
          format: uri
        error:
          type: [string, "null"]
    PostDetail:
      allOf:
        - $ref: "#/components/schemas/Post"
        - type: object
          required: [variants]
          properties:
            variants:
              type: array
              items:
                $ref: "#/components/schemas/PostVariant"
    Channel:
      type: object
      required: [id, platform, display_name, platform_username, state, connected_at]
      properties:
        id:
          type: string
        platform:
          type: [string, "null"]
        display_name:
          type: [string, "null"]
        platform_username:
          type: [string, "null"]
        state:
          type: string
        connected_at:
          type: [string, "null"]
          format: date-time
    CreatePostInput:
      type: object
      required: [content, channel_ids]
      properties:
        type:
          $ref: "#/components/schemas/PostType"
        title:
          type: string
        content:
          type: string
        channel_ids:
          type: array
          items:
            type: string
    UpdatePostInput:
      type: object
      properties:
        title:
          type: string
        content:
          type: string
    SchedulePostInput:
      type: object
      required: [scheduled_at]
      properties:
        scheduled_at:
          oneOf:
            - type: integer
            - type: string
              format: date-time
    ScheduleResult:
      type: object
      required: [success, workflow_id]
      properties:
        success:
          type: boolean
        workflow_id:
          type: string
    PublishResult:
      type: object
      required: [success, workflow_id]
      properties:
        success:
          type: boolean
        workflow_id:
          type: string
    SendEmailInput:
      type: object
      required: [template_slug, to]
      properties:
        template_slug:
          type: string
        to:
          type: string
          format: email
        name:
          type: string
        locale:
          type: string
        fallback_locale:
          type: string
        variables:
          type: object
          additionalProperties:
            type: string
        contact_id:
          type: string
        idempotency_key:
          type: string
        copy_to:
          type: string
          format: email
        copy_reply_to:
          type: string
          format: email
    EmailSendResult:
      type: object
      required: [id, copy_id, contact_id, status]
      properties:
        id:
          type: [string, "null"]
          description: Email send id — poll GET /api/v1/emails/{id} with it.
        copy_id:
          type: [string, "null"]
          description: Send id of the copy_to copy, or null when no copy was requested.
        contact_id:
          type: [string, "null"]
        status:
          type: string
    EmailSendStatus:
      description: >-
        Delivery lifecycle of a sent email. `queued` is what a fresh send
        reports; `opened` / `clicked` come from the tracker; `bounced`,
        `complained`, `failed` and `cancelled` are terminal.
      type: string
      enum:
        - pending
        - queued
        - sending
        - sent
        - delivered
        - opened
        - clicked
        - bounced
        - complained
        - failed
        - cancelled
    EmailSend:
      type: object
      required:
        - id
        - status
        - recipient_email
        - recipient_name
        - subject
        - template_id
        - contact_id
        - queued_at
        - sent_at
        - delivered_at
        - opened_at
        - clicked_at
        - error_message
      properties:
        id:
          type: string
        status:
          $ref: "#/components/schemas/EmailSendStatus"
        recipient_email:
          type: string
          format: email
        recipient_name:
          type: [string, "null"]
        subject:
          type: [string, "null"]
        template_id:
          type: [string, "null"]
        contact_id:
          type: [string, "null"]
        queued_at:
          type: [string, "null"]
          format: date-time
        sent_at:
          type: [string, "null"]
          format: date-time
        delivered_at:
          type: [string, "null"]
          format: date-time
        opened_at:
          type: [string, "null"]
          format: date-time
        clicked_at:
          type: [string, "null"]
          format: date-time
        error_message:
          type: [string, "null"]
    BatchSendInput:
      type: object
      required: [template_slug, recipients]
      properties:
        template_slug:
          type: string
        default_locale:
          type: string
        recipients:
          type: array
          maxItems: 100
          items:
            type: object
            required: [email]
            properties:
              email:
                type: string
                format: email
              name:
                type: string
              locale:
                type: string
              variables:
                type: object
                additionalProperties:
                  type: string
    BatchSendSummary:
      type: object
      required: [batch_id, total, queued, failed, results]
      properties:
        batch_id:
          type: string
        total:
          type: integer
        queued:
          type: integer
        failed:
          type: integer
        results:
          type: array
          description: Per-recipient outcome, in request order.
          items:
            $ref: "#/components/schemas/BatchSendRecipientResult"
    BatchSendRecipientResult:
      type: object
      required: [email, id, status, error]
      properties:
        email:
          type: string
          format: email
        id:
          type: [string, "null"]
          description: Email send id — poll GET /api/v1/emails/{id} with it. Null when not queued.
        status:
          type: string
          enum: [queued, failed]
        error:
          type: [string, "null"]
          description: Failure reason for recipients that were not queued.
    EmailTemplate:
      type: object
      required:
        - id
        - name
        - slug
        - type
        - subject
        - default_locale
        - available_locales
        - description
        - category
        - label_ids
        - is_active
        - is_archived
        - version
        - created_at
        - updated_at
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        type:
          type: [string, "null"]
        subject:
          type: [string, "null"]
        default_locale:
          type: string
        available_locales:
          type: array
          items:
            type: string
        description:
          type: [string, "null"]
        category:
          type: [string, "null"]
        label_ids:
          type: array
          items:
            type: string
        is_active:
          type: boolean
        is_archived:
          type: boolean
        version:
          type: integer
        created_at:
          type: [string, "null"]
          format: date-time
        updated_at:
          type: [string, "null"]
          format: date-time
    EmailTemplateDetail:
      allOf:
        - $ref: "#/components/schemas/EmailTemplate"
        - type: object
          required:
            - html_content
            - text_content
            - preview_text
            - from_name
            - from_email
            - reply_to
            - requested_locale
            - resolved_locale
            - content_source
            - localizations
          properties:
            html_content:
              type: [string, "null"]
            text_content:
              type: [string, "null"]
            preview_text:
              type: [string, "null"]
            from_name:
              type: [string, "null"]
            from_email:
              type: [string, "null"]
              format: email
            reply_to:
              type: [string, "null"]
              format: email
            requested_locale:
              type: [string, "null"]
            resolved_locale:
              type: string
            content_source:
              type: string
            localizations:
              type: array
              items:
                type: object
                required: [locale, subject, html_content, text_content, preview_text]
                properties:
                  locale:
                    type: [string, "null"]
                  subject:
                    type: [string, "null"]
                  html_content:
                    type: [string, "null"]
                  text_content:
                    type: [string, "null"]
                  preview_text:
                    type: [string, "null"]
    Contact:
      type: object
      required:
        - id
        - email
        - first_name
        - last_name
        - phone
        - company
        - job_title
        - address
        - status
        - email_status
        - label_ids
        - source
        - custom_fields
        - created_at
        - updated_at
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        first_name:
          type: [string, "null"]
        last_name:
          type: [string, "null"]
        phone:
          type: [string, "null"]
        company:
          type: [string, "null"]
        job_title:
          type: [string, "null"]
        address:
          anyOf:
            - $ref: "#/components/schemas/ContactAddress"
            - type: "null"
        status:
          $ref: "#/components/schemas/ContactStatus"
        email_status:
          $ref: "#/components/schemas/EmailStatus"
        label_ids:
          type: array
          items:
            type: string
        source:
          type: [string, "null"]
        custom_fields:
          anyOf:
            - type: object
              additionalProperties: true
            - type: "null"
        created_at:
          type: [string, "null"]
          format: date-time
        updated_at:
          type: [string, "null"]
          format: date-time
    ContactCreateResult:
      type: object
      required: [id]
      properties:
        id:
          type: string
    ContactUpdateResult:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
          const: true
    ContactRemoveResult:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
          const: true
    ContactNoteResult:
      type: object
      required: [id]
      properties:
        id:
          type: string
    ContactStatus:
      type: string
      enum: [lead, subscriber, customer, churned]
    EmailStatus:
      type: string
      enum: [subscribed, unsubscribed, bounced, complained]
    ContactAddress:
      description: >-
        A contact's postal address. Keys are camelCase (`postalCode`) — the
        one object in /api/v1 that is not snake_case — and closed: any other
        key is a 400 VALIDATION_ERROR.
      type: object
      additionalProperties: false
      properties:
        street:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string
    CreateContactInput:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
        company:
          type: string
[...]
